<details class="accordion">
    <summary class="accordion__toggle">
        {% include "icons/chevronDown" %}
        <span>{{ question }}</span>
    </summary>
    <div class="accordion__content | u-rich-text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti expedita minus laudantium cumque vitae quaerat voluptates, officiis id quae, harum consectetur magni tempore unde quidem neque aut qui fugit laborum.</p>
    </div>
</details>