<div class="[ cq--callout ]">
  <div class="callout">
    <img
      src="{{ image }}"
      alt=""
      class="callout__image" />
    <p class="callout__text">This post was originally written and published on 
 
            uxdesign.cc.
      <a href="#" class="callout__link">Click to read it there</a>
    </p>
  </div>
</div>