<div class="[ cq--callout ]">
    <div class="callout">
        <img src="https://miro.medium.com/v2/resize:fill:120:120/1*sHhtYhaCe2Uc3IU0IgKwIQ.png" alt="" class="callout__image" />
        <p class="callout__text">This post was originally written and published on 
            uxdesign.cc. <a href="#" class="callout__link">Click to read it there</a></p>
    </div>
</div>