<div class="[ cq--callout ]">
  <a href="#" class="callout">
    <img
      src="{{ image }}"
      alt=""
      class="callout__image" />
    <span class="callout__text">This post was originally written and published on uxdesign.cc. Click to read it there</span>
  </a>
</div>