<footer class="footer">
  <div class="l-constraint">
    <div class="footer__inner">
      <div class="footer__some">
        {% include "components/someList" 
 items: siteSettings.someLinks
        %}
      </div>
      {% comment %} <div class="footer__marquee">
                <div class="marquee">
                  <div class="marquee__item">
                    <span class="marquee__label">Listens to:</span>
                    <a href="#" class="marquee__link">The War on Drugs ♪</a>
                  </div>
                </div>
            </div> {% endcomment %}
      <div class="footer__menu">
        <ul class="footer__menu-list">
          {% for item in siteSettings.footerNav %}
            <li class="footer__menu-item">
              <a href="{{ item.href }}" class="footer__menu-link">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <a href="#top" class="footer__back-to-top | has-tooltip">
        <span class="tooltip tooltip--rb">To the top</span>
        {% include "icons/chevronUp" %}
      </a>
    </div>
  </div>
</footer>