<header class="header">
  <div class="l-constraint">
    <div class="header__inner">
      <a
        class="header__logo | has-tooltip"
        href="/"
        aria-label="Go to the front page">
        <svg
          width="24"
          height="20"
          viewBox="0 0 24 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0005 0L0.742188 19.5H23.2589L12.0005 0ZM12.0005 4L4.20629 17.5H19.7947L12.0005 4Z"
            fill="currentColor" />
        </svg>
        <span class="tooltip tooltip--lt">Home</span>
      </a>
      <div class="header__actions">
        <nav class="main-nav">
          <ul class="main-nav__list">
            {% for item in siteSettings.mainNav %}
              <li class="main-nav__item">
                <a href="{{ item.href }}" class="main-nav__link">
                  <span>{{ item.text }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <button class="header__theme-toggle | has-tooltip">
          <span class="tooltip tooltip--rt">Change theme</span>
          {% include "icons/moon" %}
        </button>
      </div>
    </div>
  </div>
</header>