<div class="hero">
  <h1 class="hero__title">Hi! I'm Håvard Brynjulfsen, a front-end designer based in Bergen, Norway</h1>
  <div class="hero__intro">
    <p>Designer who codes.</p>
    <p>Sometimes I draw boxes. Other times I develop boxes. Occasionally I even write about boxes.</p>
    <p>Currently creating and repairing boxes at Knowit.</p>
  </div>
</div>