<div class="[ cq--post-preview ]">
    <article class="post-preview">
        <div class="post-preview__meta">
            <a href="#" class="tag">Posts</a>
            <span class="post-preview__meta-item">3 minutes read</span>
            <span class="post-preview__meta-item">Feb 07, 2023</span>
        </div>
        <h2 class="post-preview__title">
            <a href="#">Creativity is Only Impressive When There's Restrictions</a>
        </h2>
        <p class="post-preview__excerpt">
            Why “form follows function” is a valid design principle in today's web design landscape.
        </p>
        <div class="post-preview__footer">
            <img src="https://s3-alpha-sig.figma.com/img/9f6c/db49/0f396764a83e3575a82e540f59cda43d?Expires=1698019200&Signature=puL9nF22kkwA5Uofl2a2iz6ynFJpiO5p1VSDmL-lUSSQCAvCP~FX3MmFDZscTldpALu1CZQgGuxU6kreR3pgHXgc7OCEODuw2s9ofOLLq97vW09~ds9d3YOPFifcAR7id3fiy3p7YegszVEeA6FAeU9a21J6bD6JXtVVI7Y14Gf2b6zQ8mlGeppSzfAq6nYlzJyoTMkWxU4b44MrV2-irTCAvq5N~jpRicMjGzwS-BJWGazMZKBMwJqaJIHubWd1Ffm-1mohzhPgZArGJiQtks7UEj47OQ4Zwvvd44LgenIR-6cnQclODN6b3ZhYMJR7HeBYhHNjnZwY1jrYvYuJig__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" 
            class="post-preview__footer-image" />
            <p>Published at <a href="#">uxdesign.cc</a></p>
        </div>
    </article>
</div>