<div class="[ cq--project-preview ]">
  <article class="project-preview">
    <div class="project-preview__image-wrapper">
      <img
        src=""
        alt=""
        class="project-preview__image" />
    </div>
    <div class="project-preview__content">
      <h2 class="project-preview__title">
        Someting About Something That We Don't Understand Fully
      </h2>
      <p class="project-preview__tagline">
        Learn something. Every day.
      </p>
      <a href="#" class="tag">Website</a>
    </div>
  </article>
</div>