<div class="[ cq--project-preview ]">
  <article class="project-preview">
    <div class="project-preview__image-wrapper">
      <img
        src=""
        alt=""
        class="project-preview__image" />
    </div>
    <div class="project-preview__content">
      <h2 class="project-preview__title">
        <a href="#">
          Noel.fun
        </a>
      </h2>
      <p class="project-preview__tagline">
        An award winning fun fact database
      </p>
      <a href="#" class="tag">Website</a>
    </div>
  </article>
</div>