<ul class="some-list">
  {% for item in items %}
    <li class="some-list__item">
      <a href="{{ item.href }}" class="some-list__link | has-tooltip">
        <span class="tooltip tooltip--lb">{{ item.label }}</span>
        {% include "icons/{{ item.icon }}" %}
      </a>
    </li>
  {% endfor %}
</ul>