@charset "UTF-8";
@font-face {
  font-family: "Gabarito";
  src: url("../fonts/Gabarito-VariableFont_wght.ttf");
  font-weight: 400 900;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/GeistMono.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Black.otf");
  font-weight: 900;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(button) {
  color: inherit;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(a) {
  color: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6, li) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  padding-inline-start: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --c-white: #FFF;
  --c-milk: #f7f8f8;
  --c-damp: #FCFCFC;
  --c-mist: #EEE;
  --c-ivory: #E6E6E6;
  --c-fog: #DDD;
  --c-cement: #b4bcd0;
  --c-stone: #787A85;
  --c-concrete: #565862;
  --c-grit: #353738;
  --c-void: #292a2d;
  --c-royal: #2554e4;
  --c-cobalt: #1b3b9a;
  --c-malibu: #828fff;
  --c-violet: #5e6ad2;
  --c-fall: #FFD966;
  --c-fall-dark: #c19e2f;
  --c-fire: #FF7F3E;
  --c-abyss: #000313;
  --c-scale-white: #e0e7f1;
  --c-scale-gray-0: #cdd9e5;
  --c-scale-gray-1: #adbac7;
  --c-scale-gray-2: #909dab;
  --c-scale-gray-3: #768390;
  --c-scale-gray-4: #636e7b;
  --c-scale-gray-5: #545d68;
  --c-scale-gray-6: #444c56;
  --c-scale-gray-7: #373e47;
  --c-scale-gray-8: #2d333b;
  --c-scale-gray-9: #22272e;
  --c-scale-gray-10: #1c1f27;
}

:root {
  --ff-primary: "Geist", sans-serif;
  --ff-secondary: "Peachi", serif;
  --ff-code: "Geist Mono", monospace;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --body-bg-color: var(--c-white);
    --html-bg-color: var(--c-mist);
    --focus-outline-color: var(--c-royal);
    --text-secondary-color: var(--c-void);
    --text-primary-color: var(--c-concrete);
    --text-tertiary-color: var(--c-stone);
    --textLink-color: var(--c-royal);
    --textLink-color-hover: var(--c-cobalt);
    --border-primary-color: var(--c-fog);
    --blockquote-divider-color: var(--c-fog);
    --listMarker-color: var(--c-royal);
    --codeMark-bg-color: var(--c-ivory);
    --codeMark-text-color: var(--c-grit);
  }
}

:root[data-theme=light] {
  --body-bg-color: var(--c-white);
  --html-bg-color: var(--c-mist);
  --focus-outline-color: var(--c-royal);
  --text-secondary-color: var(--c-void);
  --text-primary-color: var(--c-concrete);
  --text-tertiary-color: var(--c-stone);
  --textLink-color: var(--c-royal);
  --textLink-color-hover: var(--c-cobalt);
  --border-primary-color: var(--c-fog);
  --blockquote-divider-color: var(--c-fog);
  --listMarker-color: var(--c-royal);
  --codeMark-bg-color: var(--c-ivory);
  --codeMark-text-color: var(--c-grit);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --html-bg-color: var(--c-scale-gray-9);
    --body-bg-color: var(--c-scale-gray-10);
    --focus-outline-color: var(--c-malibu);
    --text-primary-color: var(--c-scale-gray-1);
    --text-secondary-color: var(--c-white);
    --text-tertiary-color: var(--c-scale-gray-2);
    --textLink-color: var(--c-fall);
    --textLink-color-hover: var(--c-fall-dark);
    --border-primary-color: var(--c-scale-gray-8);
    --blockquote-divider-color: var(--c-malibu);
    --listMarker-color: var(--c-fall);
    --codeMark-bg-color: var(--c-scale-gray-6);
    --codeMark-text-color: var(--c-scale-gray-1);
  }
}

:root[data-theme=dark] {
  --html-bg-color: var(--c-scale-gray-9);
  --body-bg-color: var(--c-scale-gray-10);
  --focus-outline-color: var(--c-malibu);
  --text-primary-color: var(--c-scale-gray-1);
  --text-secondary-color: var(--c-white);
  --text-tertiary-color: var(--c-scale-gray-2);
  --textLink-color: var(--c-fall);
  --textLink-color-hover: var(--c-fall-dark);
  --border-primary-color: var(--c-scale-gray-8);
  --blockquote-divider-color: var(--c-malibu);
  --listMarker-color: var(--c-fall);
  --codeMark-bg-color: var(--c-scale-gray-6);
  --codeMark-text-color: var(--c-scale-gray-1);
}

html {
  scroll-behavior: smooth;
  background-color: var(--html-bg-color);
}

body {
  font-family: var(--ff-primary);
  font-weight: 450;
  color: var(--text-primary-color);
  min-height: 100dvh;
}

:where(h1, h2, h3, h4, h5, h6, a) {
  color: var(--text-secondary-color);
}

:focus-visible {
  outline-color: var(--focus-outline-color);
  outline-offset: 0.125rem;
  outline-width: 0.125rem;
  outline-style: solid;
}

.l-constraint {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: 50rem;
}

.l-site {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--body-bg-color);
  max-width: 65rem;
  margin-inline: auto;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --tooltip-bg-color: var(--c-concrete);
    --tooltip-text-color: var(--c-mist);
  }
}

:root[data-theme=light] {
  --tooltip-bg-color: var(--c-concrete);
  --tooltip-text-color: var(--c-mist);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --tooltip-bg-color: var(--c-scale-gray-8);
    --tooltip-text-color: var(--c-scale-gray-1);
  }
}

:root[data-theme=dark] {
  --tooltip-bg-color: var(--c-scale-gray-8);
  --tooltip-text-color: var(--c-scale-gray-1);
}

.has-tooltip {
  position: relative;
}
.has-tooltip:hover .tooltip, .has-tooltip:focus-visible .tooltip {
  transition: transform 0.2s linear, opacity 0.35s ease;
  transform: scale(1);
  opacity: 1;
}

.tooltip {
  position: absolute;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  width: auto;
  white-space: nowrap;
  font-size: 0.875rem;
  padding: 0.375rem 0.625rem;
  font-weight: 500;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
.tooltip--lb {
  left: 0;
  bottom: calc(100% + 0.5rem);
  transform-origin: bottom left;
}
.tooltip--rb {
  right: 0;
  bottom: calc(100% + 0.5rem);
  transform-origin: bottom right;
}
.tooltip--lt {
  left: 0;
  top: calc(100% + 0.5rem);
  transform-origin: top left;
}
.tooltip--rt {
  right: 0;
  top: calc(100% + 0.5rem);
  transform-origin: top right;
}

.four-o-four {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  font-variation-settings: "wght" 400;
  animation: morphFont 2s ease-in-out infinite;
}

@keyframes morphFont {
  50% {
    scale: 1.25;
    font-variation-settings: "wght" 900;
  }
  100% {
    scale: 1;
    font-variation-settings: "wght" 400;
  }
}
@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --banner-bg-color: var(--c-void);
    --banner-text-color: var(--c-white);
  }
}

:root[data-theme=light] {
  --banner-bg-color: var(--c-void);
  --banner-text-color: var(--c-white);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --banner-bg-color: var(--c-fall);
    --banner-text-color: var(--c-abyss);
  }
}

:root[data-theme=dark] {
  --banner-bg-color: var(--c-fall);
  --banner-text-color: var(--c-abyss);
}

.banner {
  text-align: center;
  background-color: var(--banner-bg-color);
  color: var(--banner-text-color);
  padding-block: 0.75rem;
  font-size: 0.875rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --headerLink-text-color: var(--c-concrete);
    --headerLink-text-color-hover: var(--c-void);
    --headerLink-bg-color: var(--c-white);
    --headerLink-bg-color-hover: var(--c-mist);
    --headerDropdown-bg-color: var(--c-mist);
    --headerDropdownLink-bg-color: var(--c-mist);
    --headerDropdownLink-bg-color-hover: var(--c-white);
    --headerDropdownLink-text-color: var(--c-concrete);
  }
}

:root[data-theme=light] {
  --headerLink-text-color: var(--c-concrete);
  --headerLink-text-color-hover: var(--c-void);
  --headerLink-bg-color: var(--c-white);
  --headerLink-bg-color-hover: var(--c-mist);
  --headerDropdown-bg-color: var(--c-mist);
  --headerDropdownLink-bg-color: var(--c-mist);
  --headerDropdownLink-bg-color-hover: var(--c-white);
  --headerDropdownLink-text-color: var(--c-concrete);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --headerLink-text-color: var(--c-scale-gray-1);
    --headerLink-text-color-hover: var(--c-white);
    --headerLink-bg-color: var(--c-scale-gray-10);
    --headerLink-bg-color-hover: var(--c-scale-gray-8);
    --headerDropdown-bg-color: var(--c-scale-gray-8);
    --headerDropdownLink-bg-color: var(--c-scale-gray-8);
    --headerDropdownLink-bg-color-hover: var(--c-scale-gray-10);
    --headerDropdownLink-text-color: var(--c-scale-gray-1);
  }
}

:root[data-theme=dark] {
  --headerLink-text-color: var(--c-scale-gray-1);
  --headerLink-text-color-hover: var(--c-white);
  --headerLink-bg-color: var(--c-scale-gray-10);
  --headerLink-bg-color-hover: var(--c-scale-gray-8);
  --headerDropdown-bg-color: var(--c-scale-gray-8);
  --headerDropdownLink-bg-color: var(--c-scale-gray-8);
  --headerDropdownLink-bg-color-hover: var(--c-scale-gray-10);
  --headerDropdownLink-text-color: var(--c-scale-gray-1);
}

.header {
  --header-nav-gap: .25rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2rem;
  border-bottom: 0.0625rem solid var(--border-primary-color);
  width: 100%;
}
@media (max-width: 40rem) {
  .header__inner {
    padding-block: 1rem;
  }
}
.menu-is-open .header__inner {
  border-bottom: 0;
}
.header__logo {
  font-weight: 600;
  text-decoration: none;
  flex-shrink: 0;
  position: relative;
}
.header__logo svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header__actions {
  display: flex;
  gap: var(--header-nav-gap);
  container-name: header-actions;
  container-type: inline-size;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.header__theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: var(--headerLink-bg-color);
}
@container header-actions (max-width: 40rem) {
  .header__theme-toggle {
    display: none;
  }
}
.header__theme-toggle:hover {
  background-color: var(--headerLink-bg-color-hover);
}
.header__theme-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header__menu-toggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  padding-inline: 0.75em;
  margin-right: -0.75em;
  height: 2.5rem;
}
@container header-actions (min-width: 40rem) {
  .header__menu-toggle {
    display: none;
  }
}
.header__menu-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header__menu-toggle svg:nth-of-type(2) {
  display: none;
}
.header__menu-toggle.is-open:has(svg:nth-of-type(2)) svg:first-of-type {
  display: none;
}
.header__menu-toggle.is-open:has(svg:nth-of-type(2)) svg:last-of-type {
  display: block;
}

@container header-actions (max-width: 40rem) {
  .main-nav {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--header-nav-gap);
}
.main-nav__item {
  position: relative;
}
.main-nav__link, .main-nav__dropdown-toggle {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.125rem;
  height: 2.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--headerLink-bg-color);
  color: var(--headerLink-text-color);
}
.main-nav__link:has(svg), .main-nav__dropdown-toggle:has(svg) {
  padding-inline-end: 0.5rem;
}
.main-nav__link:has(svg) svg, .main-nav__dropdown-toggle:has(svg) svg {
  height: 1.25em;
  width: 1.25em;
}
.main-nav__link:hover, .main-nav__link.active, .main-nav__dropdown-toggle:hover, .main-nav__dropdown-toggle.active {
  color: var(--headerLink-text-color-hover);
  background-color: var(--headerLink-bg-color-hover);
}
.main-nav__dropdown-toggle:has(+ .main-nav__submenu:focus-within) {
  color: var(--headerLink-text-color-hover);
  background-color: var(--headerLink-bg-color-hover);
}
.main-nav__dropdown-toggle.is-open svg {
  rotate: 180deg;
}

.main-nav__submenu {
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  padding: 0.5rem;
  background-color: var(--headerDropdown-bg-color);
  border-radius: 0.375rem;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.15s linear, opacity 0.15s ease;
  transform-origin: top right;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  z-index: 100;
}
.main-nav__submenu.is-open {
  display: flex;
  transform: scale(1);
  opacity: 1;
}
.main-nav__submenu-item {
  display: flex;
}
.main-nav__submenu-link {
  display: flex;
  flex-basis: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  text-decoration: none;
  background-color: var(--headerDropdownLink-bg-color);
  color: var(--headerDropdownLink-text-color);
}
.main-nav__submenu-link:hover, .main-nav__submenu-link:focus {
  background-color: var(--headerDropdownLink-bg-color-hover);
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --toTopButton-text-color: var(--c-concrete);
    --toTopButton-text-color-hover: var(--c-void);
    --toTopButton-bg-color: var(--c-mist);
    --toTopButton-bg-color-hover: var(--c-fog);
    --footerMarquee-text-color: var(--c-stone);
    --footerLink-text-color: var(--c-stone);
  }
}

:root[data-theme=light] {
  --toTopButton-text-color: var(--c-concrete);
  --toTopButton-text-color-hover: var(--c-void);
  --toTopButton-bg-color: var(--c-mist);
  --toTopButton-bg-color-hover: var(--c-fog);
  --footerMarquee-text-color: var(--c-stone);
  --footerLink-text-color: var(--c-stone);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --footerMarquee-text-color: var(--c-scale-gray-2);
    --footerLink-text-color: var(--c-scale-gray-2);
    --toTopButton-text-color: var(--c-scale-gray-2);
    --toTopButton-text-color-hover: var(--c-scale-gray-1);
    --toTopButton-bg-color: var(--c-scale-gray-8);
    --toTopButton-bg-color-hover: var(--c-scale-gray-7);
  }
}

:root[data-theme=dark] {
  --footerMarquee-text-color: var(--c-scale-gray-2);
  --footerLink-text-color: var(--c-scale-gray-2);
  --toTopButton-text-color: var(--c-scale-gray-2);
  --toTopButton-text-color-hover: var(--c-scale-gray-1);
  --toTopButton-bg-color: var(--c-scale-gray-8);
  --toTopButton-bg-color-hover: var(--c-scale-gray-7);
}

.footer {
  padding-top: 4rem;
  margin-top: auto;
}
.footer__inner {
  position: relative;
  border-top: 0.0625rem solid var(--border-primary-color);
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 40rem) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__marquee {
  color: var(--footerMarquee-text-color);
  text-underline-offset: 0.125em;
}
.footer__menu {
  margin-left: auto;
  padding-right: 3rem;
}
@media (max-width: 40rem) {
  .footer__menu {
    margin-left: initial;
  }
}
.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu-link {
  text-underline-offset: 0.125em;
  color: var(--footerLink-text-color);
}
.footer__back-to-top {
  text-decoration: none;
  line-height: 1;
  position: absolute;
  top: -1.25rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--toTopButton-bg-color);
  color: var(--toTopButton-text-color);
}
.footer__back-to-top:hover, .footer__back-to-top:focus-visible {
  background-color: var(--toTopButton-bg-color-hover);
  color: var(--toTopButton-text-color-hover);
}
.footer__back-to-top svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --tag-bg-color: var(--c-mist);
    --tag-bg-color-hover: var(--c-fog);
    --tag-text-color: var(--c-concrete);
  }
}

:root[data-theme=light] {
  --tag-bg-color: var(--c-mist);
  --tag-bg-color-hover: var(--c-fog);
  --tag-text-color: var(--c-concrete);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --tag-bg-color: var(--c-scale-gray-8);
    --tag-bg-color-hover: var(--c-scale-gray-7);
    --tag-text-color: var(--c-scale-gray-1);
  }
}

:root[data-theme=dark] {
  --tag-bg-color: var(--c-scale-gray-8);
  --tag-bg-color-hover: var(--c-scale-gray-7);
  --tag-text-color: var(--c-scale-gray-1);
}

.tag {
  text-decoration: none;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  line-height: 1;
  font-weight: 500;
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
  gap: 0.375em;
}
.tag:hover {
  background-color: var(--tag-bg-color-hover);
}
.tag.active:after {
  content: "•";
  display: inline-flex;
}

.accordion + .accordion {
  margin-top: -1px;
}
.accordion__toggle {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
  border-block: 0.0625rem solid #DDD;
  cursor: pointer;
}
.accordion__toggle svg {
  width: 1.5em;
  height: 1.5em;
}
.accordion[open] .accordion__toggle svg {
  rotate: 180deg;
}
.accordion__content {
  padding-block: 1.5rem;
  grid-row: 1/span 2;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --callout-border-color: var(--c-fog);
    --callout-bg-color: var(--c-white);
    --callout-text-color: var(--c-concrete);
  }
}

:root[data-theme=light] {
  --callout-border-color: var(--c-fog);
  --callout-bg-color: var(--c-white);
  --callout-text-color: var(--c-concrete);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --callout-border-color: var(--c-scale-gray-7);
    --callout-bg-color: var(--c-scale-gray-9);
    --callout-text-color: var(--c-scale-gray-2);
  }
}

:root[data-theme=dark] {
  --callout-border-color: var(--c-scale-gray-7);
  --callout-bg-color: var(--c-scale-gray-9);
  --callout-text-color: var(--c-scale-gray-2);
}

.cq--callout {
  container-type: inline-size;
  container-name: callout;
}

.callout {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--callout-text-color);
  background-color: var(--callout-bg-color);
  padding: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--callout-border-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.callout:before {
  content: "";
  display: block;
  position: absolute;
  height: 20rem;
  bottom: calc(100% + 0.0625rem);
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, var(--body-bg-color), transparent);
  pointer-events: none;
  z-index: -1;
}
@container callout (max-width: 25rem) {
  .callout {
    padding: 0.75rem 0.5rem;
    gap: 0.75rem;
    font-size: 0.875rem;
  }
}
.callout:hover {
  box-shadow: 0 0 0 0.125rem var(--callout-border-color);
  transition: 0.15s ease;
}
.callout__image {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--callout-border-color);
  background-color: var(--color-white);
}
@container callout (max-width: 25rem) {
  .callout__image {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.callout__text {
  max-width: 60ch;
  text-wrap: pretty;
}
.callout__icon {
  flex-shrink: 0;
  margin-left: 0.5rem;
}
.callout__icon svg {
  rotate: 45deg;
}

.hero {
  padding-block-start: 3rem;
  padding-block-end: 6rem;
}
@media (min-width: 40rem) {
  .hero {
    padding-block-start: 6rem;
    padding-block-end: 10rem;
  }
}
.hero > * {
  max-width: 35rem;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: var(--ff-secondary);
}
@media (min-width: 40rem) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}
.hero__intro {
  margin-block-start: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}
@media (min-width: 40rem) {
  .hero__intro {
    font-size: 1.25rem;
    line-height: 1.375;
  }
}
.hero__intro > * + * {
  margin-top: 1em;
}
.hero__intro a:not([class]) {
  font-weight: 500;
  color: var(--textLink-color);
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.0625em;
}
.hero__intro a:not([class]):hover {
  color: var(--textLink-color-hover);
  text-decoration-thickness: 0.125em;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --projectImage-bg-color: var(--c-mist);
  }
}

:root[data-theme=light] {
  --projectImage-bg-color: var(--c-mist);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --projectImage-bg-color: var(--c-scale-gray-8);
  }
}

:root[data-theme=dark] {
  --projectImage-bg-color: var(--c-scale-gray-8);
}

.cq--project-preview {
  container-name: project-preview;
  container-type: inline-size;
}

.project-preview {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@container project-preview (min-width: 25rem) {
  .project-preview {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25rem;
  }
}
@container project-preview (min-width: 37.5rem) {
  .project-preview {
    align-items: center;
    column-gap: 1.5rem;
  }
}
.project-preview__image-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--projectImage-bg-color);
  border-radius: 0.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.project-preview__image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@container project-preview (min-width: 25rem) {
  .project-preview__image-wrapper {
    aspect-ratio: 4/3;
    max-width: 10rem;
  }
}
@container project-preview (min-width: 37.5rem) {
  .project-preview__image-wrapper {
    aspect-ratio: 16/9;
    max-width: 18.75rem;
  }
}
.project-preview__title {
  font-weight: 600;
  font-size: 1.25rem;
}
.project-preview__title a {
  display: block;
}
.project-preview__title a:hover {
  text-underline-offset: 0.125em;
}
.project-preview__tagline {
  margin-block: 0.5rem;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --postPreviewFooter-text-color: var(--c-stone);
    --postPreviewFooterImage-bg-color: var(--c-white);
  }
}

:root[data-theme=light] {
  --postPreviewFooter-text-color: var(--c-stone);
  --postPreviewFooterImage-bg-color: var(--c-white);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --postPreviewFooter-text-color: var(--c-scale-gray-1);
    --postPreviewFooterImage-bg-color: var(--c-scale-gray-0);
  }
}

:root[data-theme=dark] {
  --postPreviewFooter-text-color: var(--c-scale-gray-1);
  --postPreviewFooterImage-bg-color: var(--c-scale-gray-0);
}

.cq--postPreview-preview {
  container-type: inline-size;
  container-name: post-preview;
}

.post-preview__meta {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.post-preview__meta-item {
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
}
.post-preview__meta-item + .post-preview__meta-item:before {
  content: "•";
  display: inline;
}
.post-preview__title {
  max-width: 35rem;
  font-weight: 600;
  font-size: 1.375rem;
  text-wrap: pretty;
}
.post-preview__title a:hover {
  text-underline-offset: 0.125em;
}
.post-preview__excerpt {
  max-width: 35rem;
  margin-block: 0.75rem;
  font-size: 1.125rem;
}
.post-preview__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  color: var(--postPreviewFooter-text-color);
  font-size: 1rem;
  margin-top: 1.25rem;
}
.post-preview__footer-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--postPreviewFooterImage-bg-color);
  border: 0.0625rem solid var(--border-primary-color);
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --moreLink-bg-color: var(--c-mist);
    --moreLink-bg-color-hover: var(--c-fog);
    --moreLink-text-color: var(--c-concrete);
    --moreLink-text-color-hover: var(--c-void);
    --moreLink-divider-color: var(--c-fog);
  }
}

:root[data-theme=light] {
  --moreLink-bg-color: var(--c-mist);
  --moreLink-bg-color-hover: var(--c-fog);
  --moreLink-text-color: var(--c-concrete);
  --moreLink-text-color-hover: var(--c-void);
  --moreLink-divider-color: var(--c-fog);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --moreLink-bg-color: var(--c-scale-gray-8);
    --moreLink-bg-color-hover: var(--c-scale-gray-7);
    --moreLink-text-color: var(--c-scale-gray-1);
    --moreLink-text-color-hover: var(--c-scale-gray-0);
    --moreLink-divider-color: var(--c-scale-gray-8);
  }
}

:root[data-theme=dark] {
  --moreLink-bg-color: var(--c-scale-gray-8);
  --moreLink-bg-color-hover: var(--c-scale-gray-7);
  --moreLink-text-color: var(--c-scale-gray-1);
  --moreLink-text-color-hover: var(--c-scale-gray-0);
  --moreLink-divider-color: var(--c-scale-gray-8);
}

.more-button {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, var(--moreLink-divider-color) 50%, var(--moreLink-divider-color) calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
}
.more-button a {
  background-color: var(--moreLink-bg-color);
  color: var(--moreLink-text-color);
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5em 0.75em 0.5em 1em;
  line-height: 1;
  gap: 0.25rem;
  font-size: 1rem;
}
.more-button a svg {
  width: 1.25em;
  height: 1.25em;
}
.more-button a:hover {
  color: var(--moreLink-text-color-hover);
  background-color: var(--moreLink-bg-color-hover);
}

.archive-page__header {
  padding-top: 3rem;
  width: min(100%, 40rem);
}
.archive-page__title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: var(--ff-secondary);
}
@media (min-width: 40rem) {
  .archive-page__title {
    font-size: 2.25rem;
    line-height: 1.125;
  }
}
.archive-page__intro {
  margin-top: 0.875em;
  font-size: 1.125rem;
}
@media (min-width: 40rem) {
  .archive-page__intro {
    font-size: 1.25rem;
  }
}
.archive-page__rss {
  margin-block-start: 2rem;
}

.page {
  display: flex;
  flex-direction: column-reverse;
  margin-block: 4rem 8rem;
  gap: 2rem;
}
@media (min-width: 40rem) {
  .page {
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
  }
}
.page__header {
  width: min(100%, 40rem);
}
.page__column:first-of-type {
  width: min(100%, 30rem);
}
.page:has(:not(.page__column:nth-child(2))) .page__column:first-of-type {
  margin-inline: auto;
  width: min(100%, 35rem);
}
.page__title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: var(--ff-secondary);
}
@media (min-width: 40rem) {
  .page__title {
    font-size: 2.25rem;
    line-height: 1.125;
  }
}
.page__intro {
  margin-top: 0.875em;
  font-size: 1.25rem;
}
@media (min-width: 40rem) {
  .page__intro {
    font-size: 1.375rem;
  }
}
.page__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 15rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  transition: transform 0.15s ease-out;
}
.page__image:hover {
  transform: rotate(10deg);
}
.page__body {
  margin-top: 2rem;
  font-size: 1rem;
}
@media (min-width: 40rem) {
  .page__body {
    font-size: 1.125rem;
  }
}

.post {
  margin-inline: auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 50rem) {
  .post {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
}
.post:has(.post__featured-image) {
  margin-top: 2rem;
}
@media (max-width: 50rem) {
  .post:has(.post__featured-image) {
    margin-top: 0;
  }
}
.post__header {
  margin-inline: auto;
}
.post__header > * {
  max-width: 35rem;
  margin-inline: auto;
}
.post__featured-image {
  margin-bottom: 2rem;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  max-width: 50rem;
  overflow: hidden;
}
@media (min-width: 50rem) {
  .post__featured-image {
    width: 100%;
    border-radius: 0.375rem;
    margin-left: 0;
  }
}
.post__title {
  font-size: 1.75rem;
  line-height: 1.25;
  font-family: var(--ff-secondary);
}
@media (min-width: 40rem) {
  .post__title {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}
.post__meta {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.post__meta-item {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
}
.post__meta-item + .post__meta-item:before {
  content: "•";
  display: inline;
}
.post__leading {
  margin-top: 0.875em;
  font-size: 1.25rem;
}
@media (min-width: 40rem) {
  .post__leading {
    font-size: 1.375rem;
  }
}
.post__body {
  margin-top: 2em;
  font-size: 1rem;
  max-width: 35rem;
  margin-inline: auto;
}
@media (min-width: 40rem) {
  .post__body {
    font-size: 1.125rem;
  }
}

.posts {
  margin-block-start: 4rem;
  margin-bottom: 6rem;
}
body:has(.archive-page__rss) .posts {
  margin-block-start: 2rem;
}

.posts-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-top: 0.0625rem solid var(--border-primary-color);
}
.posts-list > li::marker {
  color: transparent;
  font-size: 0;
}
.posts-list__item {
  padding-top: 2.5rem;
  border-top: 0.0625rem dashed var(--border-primary-color);
}
.posts-list__item:first-child {
  border-top: 0;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --someLink-bg-color: var(--c-white);
    --someLink-bg-color-hover: var(--c-mist);
    --someLink-text-color: var(--c-void);
  }
}

:root[data-theme=light] {
  --someLink-bg-color: var(--c-white);
  --someLink-bg-color-hover: var(--c-mist);
  --someLink-text-color: var(--c-void);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --someLink-bg-color: var(--c-scale-gray-10);
    --someLink-bg-color-hover: var(--c-scale-gray-8);
    --someLink-text-color: var(--c-scale-gray-2);
  }
}

:root[data-theme=dark] {
  --someLink-bg-color: var(--c-scale-gray-10);
  --someLink-bg-color-hover: var(--c-scale-gray-8);
  --someLink-text-color: var(--c-scale-gray-2);
}

.some-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.75rem;
  border-right: 0.0625rem solid var(--border-primary-color);
}
@media (max-width: 40rem) {
  .some-list {
    border-right: 0;
  }
}
.some-list__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  position: relative;
  background-color: var(--someLink-bg-color);
}
.some-list__link:hover, .some-list__link:focus-visible {
  background-color: var(--someLink-bg-color-hover);
}
.some-list__link svg {
  width: 1.5rem;
  height: 1.5rem;
}

.section {
  padding-bottom: 4rem;
}
.section__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.section__grid {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.section__grid ::marker {
  font-size: 0;
  color: transparent;
}
@media (min-width: 40rem) {
  .section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}
.section__list {
  margin: 0;
  padding: 0;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}
.section__list ::marker {
  color: transparent;
  font-size: 0;
}
.section__list-item {
  padding-top: 2.5rem;
  border-top: 0.0625rem dashed var(--border-primary-color);
}
.section__list-item:first-child {
  margin-top: 1rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --codeBlock-bg-color: var(--c-void);
    --codeBlock-text-color: var(--c-ivory);
    --codeBlockLang-bg-color: var(--c-grit);
    --codeBlockLang-text-color: var(--c-fog);
  }
}

:root[data-theme=light] {
  --codeBlock-bg-color: var(--c-void);
  --codeBlock-text-color: var(--c-ivory);
  --codeBlockLang-bg-color: var(--c-grit);
  --codeBlockLang-text-color: var(--c-fog);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --codeBlock-bg-color: var(--c-scale-gray-8);
    --codeBlock-text-color: var(--c-scale-gray-0);
    --codeBlockLang-bg-color: var(--c-scale-gray-7);
    --codeBlockLang-text-color: var(--c-scale-gray-2);
  }
}

:root[data-theme=dark] {
  --codeBlock-bg-color: var(--c-scale-gray-8);
  --codeBlock-text-color: var(--c-scale-gray-0);
  --codeBlockLang-bg-color: var(--c-scale-gray-7);
  --codeBlockLang-text-color: var(--c-scale-gray-2);
}

.code-block {
  color: var(--codeBlock-text-color);
  position: relative;
  font-size: 0.875rem;
}
@media (min-width: 40rem) {
  .code-block {
    font-size: 1rem;
  }
}
.code-block ::selection {
  background-color: #19f9d8;
  color: var(--codeBlock-bg-color);
}
.code-block pre, .code-block code {
  font-size: 0.875em;
  font-family: var(--ff-code);
  font-weight: 400;
}
.code-block__code {
  background-color: var(--codeBlock-bg-color);
  border-radius: 0.375rem;
  overflow-x: auto;
  display: flex;
  padding-block: 2.5em 1.5em;
  padding-inline: 1.5em 2.5em;
}
.code-block__code::-webkit-scrollbar {
  background-color: var(--codeBlock-bg-color);
  border-radius: 0.375rem;
  overflow: hidden;
}
.code-block__code::-webkit-scrollbar-thumb {
  height: 0.375rem;
  border: 0.25rem solid var(--codeBlock-bg-color);
  background-color: var(--codeBlock-text-color);
  border-radius: 99em;
}
.code-block__lang {
  display: inline-block;
  background-color: var(--codeBlockLang-bg-color);
  color: var(--codeBlockLang-text-color);
  padding: 0.5em 0.75em;
  border-radius: 0.375rem 0 0.375rem 0;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 1em;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --themeSwitcherToggle-bg-color: var(--c-white);
    --themeSwitcherToggle-bg-color-hover: var(--c-mist);
    --themeSwitcherToggle-text-color: var(--c-concrete);
    --themeSwitcherToggle-text-color-hover: var(--c-void);
    --themeSwitcherDropdown-bg-color: var(--c-mist);
    --themeSwitcherButton-bg-color: var(--c-mist);
    --themeSwitcherButton-bg-color-hover: var(--c-fog);
    --themeSwitcherButton-bg-color-active: var(--c-white);
    --themeSwitcherButton-text-color: var(--c-concrete);
    --themeSwitcherButton-text-color-hover: var(--c-void);
    --themeSwitcherButton-text-color-active: var(--c-void);
  }
}

:root[data-theme=light] {
  --themeSwitcherToggle-bg-color: var(--c-white);
  --themeSwitcherToggle-bg-color-hover: var(--c-mist);
  --themeSwitcherToggle-text-color: var(--c-concrete);
  --themeSwitcherToggle-text-color-hover: var(--c-void);
  --themeSwitcherDropdown-bg-color: var(--c-mist);
  --themeSwitcherButton-bg-color: var(--c-mist);
  --themeSwitcherButton-bg-color-hover: var(--c-fog);
  --themeSwitcherButton-bg-color-active: var(--c-white);
  --themeSwitcherButton-text-color: var(--c-concrete);
  --themeSwitcherButton-text-color-hover: var(--c-void);
  --themeSwitcherButton-text-color-active: var(--c-void);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --themeSwitcherToggle-bg-color: var(--c-scale-gray-10);
    --themeSwitcherToggle-bg-color-hover: var(--c-scale-gray-8);
    --themeSwitcherToggle-text-color: var(--c-scale-gray-1);
    --themeSwitcherToggle-text-color-hover: var(--c-white);
    --themeSwitcherDropdown-bg-color: var(--c-scale-gray-8);
    --themeSwitcherButton-bg-color: var(--c-scale-gray-8);
    --themeSwitcherButton-bg-color-hover: var(--c-scale-gray-7);
    --themeSwitcherButton-bg-color-active: var(--c-scale-gray-10);
    --themeSwitcherButton-text-color: var(--c-scale-gray-1);
    --themeSwitcherButton-text-color-hover: var(--c-white);
    --themeSwitcherButton-text-color-active: var(--c-white);
  }
}

:root[data-theme=dark] {
  --themeSwitcherToggle-bg-color: var(--c-scale-gray-10);
  --themeSwitcherToggle-bg-color-hover: var(--c-scale-gray-8);
  --themeSwitcherToggle-text-color: var(--c-scale-gray-1);
  --themeSwitcherToggle-text-color-hover: var(--c-white);
  --themeSwitcherDropdown-bg-color: var(--c-scale-gray-8);
  --themeSwitcherButton-bg-color: var(--c-scale-gray-8);
  --themeSwitcherButton-bg-color-hover: var(--c-scale-gray-7);
  --themeSwitcherButton-bg-color-active: var(--c-scale-gray-10);
  --themeSwitcherButton-text-color: var(--c-scale-gray-1);
  --themeSwitcherButton-text-color-hover: var(--c-white);
  --themeSwitcherButton-text-color-active: var(--c-white);
}

.theme-switcher {
  position: relative;
}
.theme-switcher__toggle {
  display: inline-flex;
  align-items: center;
  column-gap: 0.375rem;
  padding-block: 0.5em;
  padding-inline: 0.625em 0.75em;
  background-color: var(--themeSwitcherTogge-bg-color);
  color: var(--themeSwitcherToggle-text-color);
  border-radius: 0.375rem;
}
.theme-switcher__toggle:hover {
  background-color: var(--themeSwitcherToggle-bg-color-hover);
  color: var(--themeSwitcherToggle-text-color-hover);
}
.theme-switcher__toggle svg {
  flex-shrink: 0;
  width: 1.25rem;
  transition: rotate 0.15s ease;
}
.theme-switcher__toggle.is-open svg {
  rotate: -20deg;
}
.theme-switcher__dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 0.25rem);
  right: 0;
  background-color: var(--themeSwitcherDropdown-bg-color);
  border-radius: 0.375rem;
  padding: 0.375rem;
  flex-direction: column;
  row-gap: 0.125rem;
  width: max-content;
  z-index: 100;
}
.theme-switcher__dropdown.is-open {
  display: flex;
}
.theme-switcher__button {
  padding-block: 0.5em;
  padding-inline: 0.5em 1em;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.375rem;
  white-space: nowrap;
  background-color: var(--themeSwitcherButton-bg-color);
  color: var(--themeSwitcherButton-text-color);
}
.theme-switcher__button svg {
  flex-shrink: 0;
  width: 1.25rem;
}
.theme-switcher__button:hover {
  background-color: var(--themeSwitcherButton-bg-color-hover);
  color: var(--themeSwitcherButton-text-color-hover);
}
.theme-switcher__button.is-active {
  background-color: var(--themeSwitcherButton-bg-color-active);
  color: var(--themeSwitcherButton-text-color-active);
}

.image-block__frame img {
  border-radius: 0.375rem;
}
.image-block__frame img.has-border {
  border: 0.0625rem solid var(--border-primary-color);
}
.image-block__caption {
  padding-block: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  font-size: 0.875rem;
}
@media (min-width: 50rem) {
  .image-block__caption {
    font-size: 1rem;
  }
}
.image-block__source {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
}
.breadcrumbs ::marker {
  color: transparent;
  font-size: 0;
}
@media (min-width: 50rem) {
  .breadcrumbs {
    padding-block: 1rem;
  }
}
.breadcrumbs__item {
  display: inline-flex;
}
@media (max-width: 40rem) {
  .breadcrumbs__item:not(:nth-last-child(2)) {
    display: none;
  }
  .breadcrumbs__item:nth-last-child(2)::before {
    content: "⇽";
    margin-right: 0.25rem;
    display: inline-flex;
  }
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  display: inline-flex;
  margin-left: 0.75rem;
}
.breadcrumbs__item:last-child {
  display: inline-block;
  overflow: hidden;
  max-width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breadcrumbs__link {
  text-decoration: underline;
  text-underline-offset: 0.125em;
  text-decoration-color: transparent;
}
.breadcrumbs__link:hover {
  text-decoration-color: currentColor;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.tags__label {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}
.tag-list ::marker {
  color: transparent;
  font-size: 0;
}
.tag-list__link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  text-decoration: none;
  font-size: 1.125rem;
}
.tag-list__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -0.75rem;
  left: calc(50% - 0.1875rem);
}
.tag-list__link.active {
  color: var(--text-secondary-color);
}
.tag-list__link.active:before {
  background-color: currentColor;
}
.tag-list__link:hover {
  color: var(--text-secondary-color);
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --menu-bg-color: var(--c-mist);
    --menu-border-color: var(--c-fog);
    --menuThemeToggle-bg-color: var(--c-fog);
  }
}

:root[data-theme=light] {
  --menu-bg-color: var(--c-mist);
  --menu-border-color: var(--c-fog);
  --menuThemeToggle-bg-color: var(--c-fog);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --menu-bg-color: var(--c-scale-gray-8);
    --menu-border-color: var(--c-scale-gray-6);
    --menuThemeToggle-bg-color: var(--c-scale-gray-8);
  }
}

:root[data-theme=dark] {
  --menu-bg-color: var(--c-scale-gray-8);
  --menu-border-color: var(--c-scale-gray-6);
  --menuThemeToggle-bg-color: var(--c-scale-gray-8);
}

.menu {
  background-color: var(--menu-bg-color);
  display: none;
  padding-block: 2rem;
}
.menu.is-open {
  display: block;
}
.menu__toggle-theme {
  display: flex;
  gap: 0.5rem;
  margin: auto;
  margin-top: 1em;
  padding: 0.375em 0.75em;
  border-radius: 0.25rem;
  align-items: center;
  background-color: var(--menuThemeToggle-bg-color);
}
.menu__toggle-theme svg {
  flex-shrink: 0;
}
.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.menu__list ::marker {
  color: transparent;
  font-size: 0;
}
.menu__item {
  border-bottom: 0.0625rem solid var(--menu-border-color);
}
.menu__item:last-child {
  border-bottom: 0;
}
.menu__link {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
  padding-block: 0.75rem;
}
.menu__link svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --detailsBlock-bg-color: var(--c-mist);
    --detailsBlock-divider-color: var(--c-fog);
    --detailsBlock-term-color: var(--c-void);
    --detailsBlock-detail-color: var(--c-concrete);
  }
}

:root[data-theme=light] {
  --detailsBlock-bg-color: var(--c-mist);
  --detailsBlock-divider-color: var(--c-fog);
  --detailsBlock-term-color: var(--c-void);
  --detailsBlock-detail-color: var(--c-concrete);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --detailsBlock-bg-color: var(--c-scale-gray-8);
    --detailsBlock-divider-color: var(--c-scale-gray-7);
    --detailsBlock-term-color: var(--c-scale-gray-0);
    --detailsBlock-detail-color: var(--c-scale-gray-2);
  }
}

:root[data-theme=dark] {
  --detailsBlock-bg-color: var(--c-scale-gray-8);
  --detailsBlock-divider-color: var(--c-scale-gray-7);
  --detailsBlock-term-color: var(--c-scale-gray-0);
  --detailsBlock-detail-color: var(--c-scale-gray-2);
}

.details-block {
  display: flex;
  flex-direction: column;
  background-color: var(--detailsBlock-bg-color);
  color: var(--detailsBlock-text-color);
  border-radius: 0.25rem;
}
.details-block__item {
  font-size: 1rem;
  border-top: 0.0625rem solid var(--detailsBlock-divider-color);
  padding-block: 0.75rem;
  padding-inline: 1rem;
}
.details-block__item:first-child {
  border-top: 0;
}
.details-block__term {
  font-weight: 600;
  color: var(--detailsBlock-term-color);
}
.details-block__detail {
  color: var(--detailsBlock-detail-color);
}
.details-block__link {
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.0625em;
}
.details-block__link:hover {
  text-decoration-thickness: 0.125em;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --baselineBlock-bg-color: var(--c-white);
  }
}

:root[data-theme=light] {
  --baselineBlock-bg-color: var(--c-white);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --baselineBlock-bg-color: var(--c-scale-gray-9);
  }
}

:root[data-theme=dark] {
  --baselineBlock-bg-color: var(--c-scale-gray-9);
}

.baseline-block {
  background-color: var(--baselineBlock-bg-color);
  border-radius: 0.5rem;
}
@media (min-width: 45rem) {
  .baseline-block {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --reviewBlock-bg-color: var(--c-white);
    --reviewBlock-border-color: var(--c-fog);
  }
}

:root[data-theme=light] {
  --reviewBlock-bg-color: var(--c-white);
  --reviewBlock-border-color: var(--c-fog);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --reviewBlock-bg-color: var(--c-scale-gray-10);
    --reviewBlock-border-color: var(--c-scale-gray-7);
  }
}

:root[data-theme=dark] {
  --reviewBlock-bg-color: var(--c-scale-gray-10);
  --reviewBlock-border-color: var(--c-scale-gray-7);
}

.review-block {
  container-name: reviewBlock;
  container-type: inline-size;
}
@media (min-width: 45rem) {
  .review-block {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }
}
.review-block__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@container reviewBlock (min-width: 30rem) {
  .review-block__inner {
    flex-direction: row;
    align-items: flex-start;
  }
}
.review-block__content {
  border: 2px solid var(--reviewBlock-border-color);
  border-radius: 0.5rem;
  padding-block-start: 3rem;
  padding-block-end: 1rem;
  padding-inline: 1rem;
  font-size: 1rem;
  margin-block-start: -2rem;
  background-color: var(--reviewBlock-bg-color);
}
@container reviewBlock (min-width: 30rem) {
  .review-block__content {
    width: calc(65% + 1rem);
    margin-block-start: 0;
    margin-inline-start: -1rem;
    padding-inline-end: 1.5rem;
    padding-inline-start: 2.5rem;
    padding-block: 2rem;
  }
}
.review-block__media {
  width: 40%;
  position: relative;
  margin-inline-start: 1rem;
}
@container reviewBlock (min-width: 30rem) {
  .review-block__media {
    width: 35%;
    margin-block-start: 1.5rem;
    margin-inline-start: 0;
  }
}
.review-block__media img {
  border-radius: 0.5rem;
  outline: 0.375rem solid var(--reviewBlock-bg-color);
}
.review-block__rating {
  color: orange;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.25rem;
}
.review-block__rating svg {
  flex-shrink: 0;
}
.review-block__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--ff-secondary);
  line-height: 1.125;
  margin-block-start: 0.75rem;
}
.review-block__subtitle {
  margin-block-start: 0.25rem;
}
.review-block__separator {
  width: 3rem;
  height: 0.25rem;
  border: 0;
  background-color: var(--reviewBlock-border-color);
  margin-block-start: 1rem;
}
.review-block__info {
  margin-block-start: 1rem;
}
.review-block__link {
  display: inline-flex;
  margin-block-start: 1.5rem;
  font-weight: 500;
  color: var(--textLink-color);
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.0625em;
}
.review-block__link:hover {
  color: var(--textLink-color-hover);
  text-decoration-thickness: 0.125em;
}

.projects {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.projects__list {
  padding: 0;
  margin: 0;
  padding-top: 2.5rem;
  display: grid;
  gap: 3.5rem;
  border-top: 0.0625rem solid var(--border-primary-color);
}
.projects__list ::marker {
  font-size: 0;
  color: transparent;
}
@media (min-width: 40rem) {
  .projects__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --imageDialog-bg-color: var(--c-void);
    --imageDialogCloseButton-bg-color: var(--c-concrete);
    --imageDialogCloseButton-text-color: var(--c-mist);
    --imageDialogFigcaption-bg-color: var(--c-void);
    --imageDialogFigcaption-text-color: var(--c-mist);
    --imageDialogCloseButton-color-focus: var(--c-royal);
  }
}

:root[data-theme=light] {
  --imageDialog-bg-color: var(--c-void);
  --imageDialogCloseButton-bg-color: var(--c-concrete);
  --imageDialogCloseButton-text-color: var(--c-mist);
  --imageDialogFigcaption-bg-color: var(--c-void);
  --imageDialogFigcaption-text-color: var(--c-mist);
  --imageDialogCloseButton-color-focus: var(--c-royal);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --imageDialog-bg-color: var(--c-scale-gray-9);
    --imageDialogCloseButton-bg-color: var(--c-scale-gray-7);
    --imageDialogCloseButton-text-color: var(--c-scale-gray-1);
    --imageDialogFigcaption-bg-color: var(--c-scale-gray-7);
    --imageDialogFigcaption-text-color: var(--c-scale-gray-1);
    --imageDialogCloseButton-color-focus: var(--c-fall);
  }
}

:root[data-theme=dark] {
  --imageDialog-bg-color: var(--c-scale-gray-9);
  --imageDialogCloseButton-bg-color: var(--c-scale-gray-7);
  --imageDialogCloseButton-text-color: var(--c-scale-gray-1);
  --imageDialogFigcaption-bg-color: var(--c-scale-gray-7);
  --imageDialogFigcaption-text-color: var(--c-scale-gray-1);
  --imageDialogCloseButton-color-focus: var(--c-fall);
}

.image-dialog {
  inset: 0;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  z-index: 100;
  background-color: var(--imageDialog-bg-color);
  position: fixed;
}
.image-dialog figure {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-dialog figure img {
  margin-inline: auto;
  border-radius: 0.5rem;
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.image-dialog figcaption {
  color: var(--imageDialogFigcaption-text-color);
  background-color: var(--imageDialogFigcaption-bg-color);
  position: absolute;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-inline: auto;
  max-width: 600px;
  text-align: center;
}
.image-dialog button {
  --focus-outline-color: var(--imageDialogCloseButton-color-focus);
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--imageDialogCloseButton-bg-color);
  color: var(--imageDialogCloseButton-text-color);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.image-dialog button svg {
  width: 2rem;
  height: 2rem;
}

@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    --rssLink-border-color: var(--c-fog);
    --rssLinkIcon-text-color: var(--c-fire);
  }
}

:root[data-theme=light] {
  --rssLink-border-color: var(--c-fog);
  --rssLinkIcon-text-color: var(--c-fire);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --rssLink-border-color: var(--c-scale-gray-7);
    --rssLinkIcon-text-color: var(--c-fire);
  }
}

:root[data-theme=dark] {
  --rssLink-border-color: var(--c-scale-gray-7);
  --rssLinkIcon-text-color: var(--c-fire);
}

.rss-link {
  display: inline-flex;
  align-items: center;
  padding-block: 0.375rem;
  padding-inline: 0.375rem 1rem;
  border-radius: 0.375rem;
  border: 0.125rem solid var(--rssLink-border-color);
  gap: 0.75rem;
  text-decoration: none;
  line-height: 1.125;
  font-size: 1rem;
}
.rss-link:hover {
  box-shadow: 0 0 0 0.125rem var(--rssLink-border-color);
}
.rss-link__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid var(--rssLink-border-color);
  border-radius: 0.25rem;
}
.rss-link__icon svg {
  width: 1.75rem;
  color: var(--rssLinkIcon-text-color);
}
.rss-link__content {
  display: flex;
  flex-direction: column;
}
.rss-link__title {
  font-weight: 600;
}

.u-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-rich-text > * + * {
  margin-top: 1.25em;
}
.u-rich-text > :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--ff-secondary);
}
.u-rich-text > * + :where(h1, h2, h3, h4) {
  margin-top: 2em;
}
.u-rich-text > :where(h1, h2, h3, h4) + * {
  margin-top: 0.75em;
}
.u-rich-text > :where(p) + :where(ul, ol) {
  margin-top: 0.75em;
}
.u-rich-text > :where(ul, ol) li {
  margin-top: 0.5em;
}
.u-rich-text > :where(ul) ::marker, .u-rich-text > :where(ol) ::marker {
  color: var(--listMarker-color);
}
.u-rich-text > :where(hr) {
  border: 0;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-color: var(--border-primary-color);
  height: 0.0625rem;
}
.u-rich-text > :where(hr).dashed {
  background-color: transparent;
  background-image: repeating-linear-gradient(to right, var(--border-primary-color) 0, var(--border-primary-color) 0.625rem, transparent 0.625rem, transparent 1.25rem);
}
.u-rich-text > :where(blockquote) {
  padding-left: 1em;
  border-left: 0.25rem solid var(--blockquote-divider-color);
  padding-block: 1em;
  font-size: 1.125em;
  line-height: 1.375;
}
.u-rich-text > :where(h2) {
  font-size: 1.5rem;
  line-height: 1.375;
  text-wrap: balance;
}
@media (min-width: 40rem) {
  .u-rich-text > :where(h2) {
    font-size: 1.75rem;
  }
}
.u-rich-text > :where(h3) {
  font-size: 1.25rem;
  text-wrap: balance;
}
@media (min-width: 40rem) {
  .u-rich-text > :where(h3) {
    font-size: 1.375rem;
  }
}
.u-rich-text > :where(h4) {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}
@media (min-width: 40rem) {
  .u-rich-text > :where(h4) {
    font-size: 1rem;
  }
}
.u-rich-text a:not([class]) {
  font-weight: 500;
  color: var(--textLink-color);
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.0625em;
}
.u-rich-text a:not([class]):hover {
  color: var(--textLink-color-hover);
  text-decoration-thickness: 0.125em;
}
.u-rich-text strong {
  font-weight: 700;
  color: var(--text-secondary-color);
}
.u-rich-text > *:not(.code-block) code {
  background-color: var(--codeMark-bg-color);
  color: var(--codeMark-text-color);
  display: inline;
  padding: 0.125em 0.25em;
  border-radius: 0.25rem;
  font-size: 0.875em;
  -webkit-box-decoration-break: clone;
  font-family: var(--ff-code);
}
.u-rich-text > .code-block, .u-rich-text > .embed-block {
  width: 100%;
}
@media (min-width: 45rem) {
  .u-rich-text > .code-block.full-bleed, .u-rich-text > .embed-block.full-bleed {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}
.u-rich-text > * + .review-block {
  margin-block-start: 3em;
}
.u-rich-text > * + .image-block {
  margin-top: 2em;
}
@media (min-width: 45rem) {
  .u-rich-text > * + .image-block.full-bleed {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}
@media (min-width: 50rem) {
  .u-rich-text > * + .image-block.full-bleed {
    width: calc(100% + 12rem);
    margin-left: -6rem;
  }
}
.u-rich-text > .details-block + * {
  margin-top: 2em;
}
