.accordion {

    & + .accordion {
        margin-top: -1px;
    }

    &__toggle {
        list-style: none;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-block: 1rem;
        border-block: 0.0625rem solid #DDD;
        cursor: pointer;

        svg {
            width: 1.5em;
            height: 1.5em;

            .accordion[open] & {
                rotate: 180deg;
            }
        }
    }


    &__content {
        padding-block: 1.5rem;
        grid-row: 1 / span 2;
    }
}