.banner {
    text-align: center;
    background-color: var(--banner-bg-color);
    color: var(--banner-text-color);
    padding-block: .75rem;
    font-size: .875rem;
    position: sticky;
    top: 0;
    z-index: 999;
}