.breadcrumbs {
    padding: 0;
    margin: 0;
    ::marker {
        color: transparent;
        font-size: 0;
    }

    display: flex;
    flex-wrap: wrap;
    gap: .5rem .75rem;
    padding-block: 1rem;
    font-size: .875rem;
    &__item {
        display: inline-flex;

        @media (max-width: 40rem) {
            &:not(:nth-last-child(2)) {
                display: none;
            }

            &:nth-last-child(2) {
                &::before {
                    content: "⇽";
                    margin-right: .25rem;
                    display: inline-flex;
                }
            }
        }

        &:not(:last-child) {
            &::after {
                content: "/";
                display: inline-flex;
                margin-left: .75rem;
            }
        }

        &:last-child {
            display: inline-block;
            overflow: hidden;
            max-width: 20ch;
            white-space: nowrap;
            text-overflow: ellipsis; 
        }
    }

    &__link {
        text-decoration: underline;
        text-underline-offset: .125em;
        text-decoration-color: transparent;

        &:hover {
            text-decoration-color: currentColor;
        }
    }
}