.cq--callout {
    container-type: inline-size;
    container-name: callout;
}

.callout {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--callout-text-color);
    background-color: var(--callout-bg-color);
    padding: 1rem;
    border-radius: .375rem;
    border: 0.0625rem solid var(--callout-border-color);
    font-size: 1rem;
    text-decoration: none;

    @container callout (max-width: 25rem) {
        padding: .75rem .5rem;
        gap: .75rem;
        font-size: .875rem;
    }

    &__image {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 0.0625rem solid var(--callout-border-color);

        @container callout (max-width: 25rem) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__text {
        max-width: 60ch;
    }

    &__icon {
        flex-shrink: 0;
        margin-left: .5rem;
        svg {
            rotate: 45deg;
        }
    }
}