.details-block {
    display: flex;
    flex-direction: column;
    background-color: var(--detailsBlock-bg-color);
    color: var(--detailsBlock-text-color);
    border-radius: .25rem;

    &__item {
        font-size: 1rem;
        border-top: 0.0625rem solid var(--detailsBlock-divider-color);
        padding-block: .75rem;
        padding-inline: 1rem;
        &:first-child {
            border-top: 0;
        }
    }

    &__term {
        font-weight: 600;
        color: var(--detailsBlock-term-color);
    }

    &__detail {
        color: var(--detailsBlock-detail-color);
    }
}