.four-o-four {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    font-variation-settings: "wght" 400;
    animation: morphFont 2s ease-in-out infinite;
}

@keyframes morphFont {

    50% {
        scale: 1.25;
        font-variation-settings: "wght" 900;
    }
    
    100% {
        scale: 1;
        font-variation-settings: "wght" 400;
    }
}