.header {
    --header-nav-gap: .25rem;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding-block: 2rem;
        border-bottom: .0625rem solid #DDD;
        width: 100%;
    }

    &__logo {
        font-weight: 600;
        text-decoration: none;
        flex-shrink: 0;
    }

    &__actions {
        display: flex;
        gap: var(--header-nav-gap);
        container-name: header-actions;
        container-type: inline-size;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__theme-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: .5rem;
        border-radius: .25rem;
        flex-shrink: 0;

        &:hover {
            background-color: #EEE;
        }
    }
}

.main-nav {
    @container header-actions (max-width: 40rem) {
        display: none;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: var(--header-nav-gap);
    }

    &__item {}

    &__link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .125rem;
        padding-block: .5rem;
        padding-inline: .75rem;
        border-radius: .25rem;

        &.has-icon {
            padding-inline-end: .5rem;

            svg {
                height: 1.25em;
                width: 1.25em;
            }
        }


        &:hover {
            background-color: #EEE;
        }
    }
}