.header {
    --header-nav-gap: .25rem;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding-block: 2rem;
        border-bottom: .0625rem solid #DDD;
        width: 100%;
    }

    &__logo {
        font-weight: 600;
        text-decoration: none;
        flex-shrink: 0;
    }

    &__actions {
        display: flex;
        gap: var(--header-nav-gap);
        container-name: header-actions;
        container-type: inline-size;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__theme-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: .5rem;
        border-radius: .25rem;
        flex-shrink: 0;

        &:hover {
            background-color: #EEE;
        }
    }
}

.main-nav {
    @container header-actions (max-width: 40rem) {
        display: none;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: var(--header-nav-gap);
    }

    &__item {
        position: relative;
    }

    &__link,
    &__dropdown-toggle {
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .125rem;
        padding-block: .5rem;
        padding-inline: .75rem;
        border-radius: .25rem;

        &.has-icon {
            padding-inline-end: .5rem;

            svg {
                height: 1.25em;
                width: 1.25em;
            }
        }


        &:hover {
            background-color: #EEE;
        }
    }

    &__dropdown-toggle {
        &:focus {
            background-color: #EEE;

            &+.dropdown-menu {
                scale: 1 1;
                opacity: 1;
            }
        }
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .25rem;
    padding: .5rem;
    background-color: #EEE;
    border-radius: .375rem;
    opacity: 0;
    scale: 1 0;
    transition: scale .15s ease, opacity .15s ease;
    transform-origin: top center;
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);

    &:focus-within,
    &:hover {
        scale: 1 1;
        opacity: 1;
    }

    &__item {
        display: flex;
    }

    &__link {
        display: flex;
        flex-basis: 100%;
        padding-block: .5rem;
        padding-inline: .75rem;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: #FFF;
            border-radius: .25rem;
        }
    }
}