.post {
    margin-inline: auto;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    @media (min-width: 40rem) {
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    &:has(.post__featured-image) {
        margin-top: 2rem;
    }

    &__header {
        margin-inline: auto;
        max-width: 35rem;
    }

    &__featured-image {
        margin-bottom: 2rem;

        img {
            border-radius: .375rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        line-height: 1.25;

        @media (min-width: 40rem) {
            font-size: 2.25rem;
            line-height: 1.125;
        }
    }

    &__meta {
        margin-bottom: .75rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;

        &-item {
            font-size: .875rem;
            display: flex;
            gap: .5rem;
            align-items: center;
            font-weight: 500;

            &+& {
                &:before {
                    content: "•";
                    display: inline;
                }
            }
        }
    }

    &__leading {
        margin-top: .875em;
        font-size: 1.25rem;

        @media (min-width: 40rem) {
            font-size: 1.375rem;
        }
    }

    &__body {
        margin-top: 2em;
        font-size: 1rem;
        max-width: 35rem;
        margin-inline: auto;

        @media (min-width: 40rem) {
            font-size: 1.125rem;
        }
    }
}