.posts {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.posts-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-top: 0.0625rem solid var(--border-primary-color);

    &>li::marker {
        color: transparent;
    }

    &__item {
        padding-top: 2.5rem;
        border-top: 0.0625rem dashed var(--border-primary-color);
        &:first-child {
            border-top: 0;
        }
    }
}