.cq--project-preview {
    container-name: project-preview;
    container-type: inline-size;
}

.project-preview {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @container project-preview (min-width: 25rem) {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 1.25rem;
    }

    @container project-preview (min-width: 37.5rem) {
        align-items: center;
        column-gap: 1.5rem;
    }

    &__image-wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: var(--projectImage-bg-color);
        border-radius: .375rem;
        overflow: hidden;
        flex-shrink: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @container project-preview (min-width: 25rem) {
            aspect-ratio: 4 / 3;
            max-width: 10rem; // 200px
        }

        @container project-preview (min-width: 37.5rem) {
            aspect-ratio: 16 / 9;
            max-width: 18.75rem; // 300px
        }
    }

    &__image {}

    &__title {
        font-weight: 600;
        font-size: 1.25rem;

        a {
            display: block;

            &:hover {
                text-underline-offset: .125em;
            }
        }
    }

    &__tagline {
        margin-block: .5rem;
        font-size: 1rem;
    }
}