.section {
    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.375;
    }

    &__list {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        gap: 2.5rem;
        display: flex;
        flex-direction: column;
        
        ::marker {
            color: transparent;
            transform: scale(0);    
        }
    }

    &__list-item {
        padding-top: 2.5rem;
        border-top: 0.0625rem solid #DDD;
    }
}