.tag {
    text-decoration: none;
    font-size: .875rem;
    display: inline-block;
    padding: .375rem .625rem;
    border-radius: .25rem;
    line-height: 1;
    font-weight: 500;
    color: #565862;
    background-color: #EEE;

    &:hover {
        background-color: #DDD;
    }
}