.tag {
    text-decoration: none;
    font-size: .875rem;
    display: inline-flex;
    align-items: center;
    padding: .375rem .625rem;
    border-radius: .25rem;
    line-height: 1;
    font-weight: 500;
    background-color: var(--tag-bg-color);
    color: var(--tag-text-color);
    gap: .375em;

    &:hover {
        background-color: var(--tag-bg-color-hover);
    }

    &.active {
        &:after {
            content: "•";
            display: inline-flex;
        }
    }
}