.title-banner {
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    @media (max-width: 40rem) {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.125;
        color: #292a2d;
    }

    &__intro {
        margin-top: .75rem;
        font-size: 1.375rem;
    }

    &__image {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: 50% 50%;
        max-width: 15rem;
        border-radius: .5rem;
        margin: .5rem;
    }
}