{% include "parts/head" %}
<div id="#top"></div>
{% if siteSettings.topBanner %}
  <div class="banner">
    <div class="l-constraint">
      <p>{{ siteSettings.topBanner }}</p>
    </div>
  </div>
{% endif %}
<div class="l-site">
  {% if siteSettings.topBanner %}
  {% endif %}
  {% include "components/header" %}
  {{ content }}
  {% include "components/footer" %}
</div>
{% include "parts/foot" %}