---
eleventyComputed: 
    metaTitle: "Håvard Brynjulfsen"
    metaDescription: "Portfolio and blog for web developer Håvard Brynjulfsen"
    metaUrl: "https://site.com"
    metaImageUrl: "{{ metaUrl }}/images/something.jpg"
---

{% include "parts/head" %}
<div class="l-site">
  <div id="#top"></div>
  {% include "components/header" %}
  {{ content }}
  {% include "components/footer" %}
</div>
{% include "parts/foot" %}