---
layout: base
---

<main>
  <div class="l-constraint">
    <ol class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <span title="{{ creationArchive.title }}">{{ creationArchive.title }}</span>
      </li>
    </ol>
    <div class="archive-page">
      <div class="archive-page__header">
        <h2 class="archive-page__title">{{ creationArchive.title }}</h2>
        <div class="archive-page__intro | u-rich-text">
          {{ creationArchive.leading }}
        </div>
      </div>
      <div class="projects">
        <ul class="projects__list">
          {% for selectedCreation in creationArchive.creationList %}
            {% for item in collections.creationCollection %}
              {% if selectedCreation._ref == item.data.id %}
                <li class="projects__item">
                  {% include "components/projectPreview"
 featuredImage: item.data.creation.featuredImage
 title: item.data.creation.title
 fullSlug: item.data.creation.fullSlug
 tagline: item.data.creation.tagline
 tag: item.data.creation.tag
 tagSlug: item.data.creation.tagSlug
                  %}
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>