---
layout: base
---

<main>
  <div class="l-constraint">
    <div class="grid">
      <div class="grid__column">
        {% include "components/projectPreview" %}
      </div>
    </div>

  </div>
</main>