---
layout: base
---

<main>
  <div class="l-constraint">
    {% include "components/hero" 
 title: frontPage.hero.title
 intro: frontPage.hero.intro
    %}

    <section class="section section--featured-creations">
      <h2 class="section__title">{{ frontPage.creations.title }}</h2>
      <ul class="section__grid">
        {% for selectedCreation in frontPage.creations.items %}
          {% for item in collections.creationCollection %}
            {% if selectedCreation._ref == item.data.id %}
              <li class="section__grid-item">
                {% include "components/projectPreview"
 featuredImage: item.data.creation.featuredImage
 title: item.data.creation.title
 fullSlug: item.data.creation.fullSlug
 tagline: item.data.creation.tagline
 tag: item.data.creation.tag
 tagSlug: item.data.creation.tagSlug
                %}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
      {% include "components/moreButton" url: frontPage.creations.moreLink.href text: frontPage.creations.moreLink.text %}
    </section>


    <section class="section section--featured-posts">
      <h2 class="section__title">{{ frontPage.articles.title }}</h2>
      <ul class="section__list">
        {% for item in frontPage.articles.items %}
          {% for article in collections.articlesCollection %}
            {% if item._ref == article.data.id %}
              <li class="section__list-item">
                {% include "components/postPreview" 
 title: article.data.article.title
 leading: article.data.article.leading
 readingTime: article.data.article.readingTime
 publishedDate: article.data.article.publishedDate
 tag: article.data.article.tag
 tagSlug: article.data.article.tagSlug
 fullSlug: article.data.page.url
 publishedExternally: article.data.article.publishedExternally
                %}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
      {% include "components/moreButton" url: frontPage.articles.moreLink.href text: frontPage.articles.moreLink.text %}
    </section>
  </div>
</main>