---
layout: base
---

<main>
  <div class="l-constraint">
    {% include "components/hero" %}
    {% include "components/projectPreview" %}
    {% include "components/moreButton" url: "#", text: "More creations" %}
    {% include "components/postPreview" %}
    {% include "components/moreButton" url: "#", text: "More in writing" %}
    {% include "components/callout" %}
  </div>
</main> 