---
layout: base
---

<main>
  <div class="l-constraint">
    {% include "components/hero" %}
    {% include "components/projectPreview" %}
    {% include "components/moreButton" url: "#" text: "More creations" %}
    <section class="section section--featured-posts">
      <h2 class="section__title">{{ frontPage.articles.title }}</h2>
      <ul class="section__list">
        {% for item in frontPage.articles.items %}
          <li class="section__list-item">
            {% include "components/postPreview" 
 title: item.title
 leading: item.leading
 readingTime: item.readingTime
 publishedDate: item.publishedDate
 tag: item.tag
 tagSlug: item.tagSlug
 fullSlug: item.fullSlug
 publishedExternally: item.publishedExternally
            %}
          </li>
        {% endfor %}
      </ul>
      {% include "components/moreButton" url: "#" text: frontPage.articles.moreLink.text %}
    </section>
  </div>
</main>