---
layout: base
---

<main>
  <div class="l-constraint">
    <article class="post">
      <header class="post__header">
        <figure class="post__featured-image">
          <img src="https://images.unsplash.com/photo-1579762593175-20226054cad0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2136&q=80" alt="" />
        </figure>
        <div class="post__meta">
          <a href="#" class="tag">Posts</a>
          <span class="post__meta-item">3 minutes read</span>
          <span class="post__meta-item">Feb 07, 2023</span>
        </div>
        <h1 class="post__title">Where Should Container Queries Live in a Design System?</h1>
        <p class="post__leading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem eveniet?</p>
      </header>
      <div class="post__body | u-rich-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo, dolor expedita asperiores ducimus eaque, officia quisquam blanditiis doloremque ut explicabo! Modi sit voluptate similique praesentium. Illo sint deserunt culpa?</p>
        {% include "components/callout" %}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo, dolor expedita asperiores ducimus eaque, officia quisquam blanditiis doloremque ut explicabo! Modi sit voluptate similique praesentium. Illo sint deserunt culpa?</p>
        <h2>Amet consectetur adipisicing elit</h2>
        <p>Illum odio aliquid dolorem corporis reiciendis animi placeat, sequi iure.</p>
        <ul>
          <li>Listitem 1</li>
          <li>Listitem 2. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quisquam nulla doloremque ex. Recusandae tempore sint quaerat consectetur atque itaque officiis, facilis fugit architecto corporis rem officia odit odio explicabo!</li>
          <li>Listitem 3</li>
          <li>Listitem 4</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere reprehenderit dolores amet blanditiis officia odit eius doloribus recusandae nisi non itaque, unde consequuntur commodi voluptates animi praesentium eligendi voluptatem sunt!</p>
        <h3>Amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae perferendis recusandae laudantium, fugiat quos voluptate ducimus corporis, veritatis asperiores sunt nulla doloribus impedit animi repellendus magni maiores? Nam, cupiditate.</p>
        <blockquote>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae perferendis recusandae laudantium, fugiat quos voluptate ducimus corporis, veritatis asperiores sunt nulla doloribus impedit animi repellendus magni maiores? Nam, cupiditate.</p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae perferendis recusandae laudantium, fugiat quos voluptate ducimus corporis, veritatis asperiores sunt nulla doloribus impedit animi repellendus magni maiores? Nam, cupiditate.</p>
      </div>
    </article>
  </div>
</main>