.archive-page {
    &__header {
        padding-top: 3rem;
        width: min(100%, 40rem);
    }

    &__title {
        font-size: 1.5rem;
        line-height: 1.25;
        font-family: var(--ff-secondary);

        @media (min-width: 40rem) {
            font-size: 2.25rem;
            line-height: 1.125;
        }
    }

    &__intro {
        margin-top: .875em;
        font-size: 1.125rem;

        @media (min-width: 40rem) {
            font-size: 1.25rem;
        }
    }

    &__rss {
        margin-block-start: 2rem;
    }
    
    &__tags {
        margin-block-start: 3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .5rem;
        font-size: 1.125rem;
        
        & > span {
            text-transform: uppercase;
            font-size: .875rem;
            letter-spacing: .05em;
            font-weight: 600;
            display: inline-block;
            margin-inline-end: .25rem;
        }
    }
}