@use '../theming';

@include theming.light-colors() {
  --baselineBlock-bg-color: var(--c-white);
}

@include theming.dark-colors() {
  --baselineBlock-bg-color: var(--c-scale-gray-9);
}

.baseline-block {
  background-color: var(--baselineBlock-bg-color);
  border-radius: .5rem;

  @media (min-width: 45rem) {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}