@use '../theming';

@include theming.light-colors() {
    --detailsBlock-bg-color: var(--c-mist);
    --detailsBlock-divider-color: var(--c-fog);
    --detailsBlock-term-color: var(--c-void);
    --detailsBlock-detail-color: var(--c-concrete);
}

@include theming.dark-colors() {
    --detailsBlock-bg-color: var(--c-scale-gray-8);
    --detailsBlock-divider-color: var(--c-scale-gray-7);
    --detailsBlock-term-color: var(--c-scale-gray-0);
    --detailsBlock-detail-color: var(--c-scale-gray-2);
}

.details-block {
    display: flex;
    flex-direction: column;
    background-color: var(--detailsBlock-bg-color);
    color: var(--detailsBlock-text-color);
    border-radius: .25rem;

    &__item {
        font-size: 1rem;
        border-top: 0.0625rem solid var(--detailsBlock-divider-color);
        padding-block: .75rem;
        padding-inline: 1rem;

        &:first-child {
            border-top: 0;
        }
    }

    &__term {
        font-weight: 600;
        color: var(--detailsBlock-term-color);
    }

    &__detail {
        color: var(--detailsBlock-detail-color);
    }

    &__link {
        text-underline-offset: .125em;
        text-decoration-thickness: .0625em;

        &:hover {
            text-decoration-thickness: .125em;
        }
    }
}