@use '../theming';

@include theming.light-colors() {
    --toTopButton-text-color: var(--c-concrete);
    --toTopButton-text-color-hover: var(--c-void);
    --toTopButton-bg-color: var(--c-mist);
    --toTopButton-bg-color-hover: var(--c-fog);
    --footerMarquee-text-color: var(--c-stone);
    --footerLink-text-color: var(--c-stone);
}

@include theming.dark-colors() {
    --footerMarquee-text-color: var(--c-scale-gray-2);
    --footerLink-text-color: var(--c-scale-gray-2);
    --toTopButton-text-color: var(--c-scale-gray-2);
    --toTopButton-text-color-hover: var(--c-scale-gray-1);
    --toTopButton-bg-color: var(--c-scale-gray-8);
    --toTopButton-bg-color-hover: var(--c-scale-gray-7);
}

.footer {
    padding-top: 4rem;
    margin-top: auto;

    &__inner {
        position: relative;
        border-top: .0625rem solid var(--border-primary-color);
        padding-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        @media (max-width: 40rem) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__marquee {
        color: var(--footerMarquee-text-color);
        text-underline-offset: .125em;
    }

    &__menu {
        margin-left: auto;
        padding-right: 3rem;

        @media (max-width: 40rem) {
            margin-left: initial;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-link {
            text-underline-offset: .125em;
            color: var(--footerLink-text-color);
        }
    }

    &__back-to-top {
        text-decoration: none;
        line-height: 1;
        position: absolute;
        top: -1.25rem;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--toTopButton-bg-color);
        color: var(--toTopButton-text-color);

        &:hover,
        &:focus-visible {
            background-color: var(--toTopButton-bg-color-hover);
            color: var(--toTopButton-text-color-hover);
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}