@use '../theming';

@include theming.light-colors() {
   --headerLink-text-color: var(--c-concrete);
   --headerLink-text-color-hover: var(--c-void);
   --headerLink-bg-color: var(--c-white);
   --headerLink-bg-color-hover: var(--c-mist);
   --headerDropdown-bg-color: var(--c-mist);
   --headerDropdownLink-bg-color: var(--c-mist);
   --headerDropdownLink-bg-color-hover: var(--c-white);
   --headerDropdownLink-text-color: var(--c-concrete);
}

@include theming.dark-colors() {
   --headerLink-text-color: var(--c-scale-gray-1);
   --headerLink-text-color-hover: var(--c-white);
   --headerLink-bg-color: var(--c-scale-gray-10);
   --headerLink-bg-color-hover: var(--c-scale-gray-8);
   --headerDropdown-bg-color: var(--c-scale-gray-8);
   --headerDropdownLink-bg-color: var(--c-scale-gray-8);
   --headerDropdownLink-bg-color-hover: var(--c-scale-gray-10);
   --headerDropdownLink-text-color: var(--c-scale-gray-1);
}

.header {
   --header-nav-gap: .25rem;
   
   body:has(.menu.is-open) & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 950;
   }
   
   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding-block: 2rem;
      border-bottom: .0625rem solid var(--border-primary-color);
      
      width: 100%;
      
      @media (max-width: 40rem) {
         padding-block: 1rem;
      }
      
      .menu-is-open & {
         border-bottom: 0;
      }
   }
   
   &__logo {
      font-weight: 600;
      text-decoration: none;
      flex-shrink: 0;
      position: relative;
      
      svg {
         width: 1.5rem;
         height: 1.5rem;
      }
   }
   
   &__actions {
      display: flex;
      gap: var(--header-nav-gap);
      container-name: header-actions;
      container-type: inline-size;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
   }
   
   &__menu-toggle {
      display: flex;
      align-items: center;
      gap: .25rem;
      border-radius: .25rem;
      padding-inline: .625em .75em;
      height: 2.5rem;
      background-color: var(--headerLink-bg-color);
      color: var(--headerLink-text-color);
      
      &:hover {
         color: var(--headerLink-text-color-hover);
         background-color: var(--headerLink-bg-color-hover);
      }
      
      @container header-actions (min-width: 40rem) {
         display: none;
      }
      
      svg {
         width: 1.25rem;
         
         &:nth-of-type(2) {
            display: none;
         }
      }
      
      &.is-open:has(svg:nth-of-type(2)) {
         svg:first-of-type {
            display: none;
         }
         
         svg:last-of-type {
            display: block;
         }
      }
   }
}

.main-nav {
   @container header-actions (max-width: 40rem) {
      display: none;
   }
   
   &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: var(--header-nav-gap);
   }
   
   &__item {
      position: relative;
   }
   
   &__link,
   &__dropdown-toggle {
      cursor: pointer;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: .125rem;
      height: 2.5rem;
      padding-inline: .75rem;
      border-radius: .25rem;
      background-color: var(--headerLink-bg-color);
      color: var(--headerLink-text-color);
      
      &:has(svg) {
         padding-inline-end: .5rem;
         
         svg {
            height: 1.25em;
            width: 1.25em;
         }
      }
      
      &:hover,
      &.active {
         color: var(--headerLink-text-color-hover);
         background-color: var(--headerLink-bg-color-hover);
      }
   }
   
   &__dropdown-toggle {
      &:has(+ .main-nav__submenu:focus-within) {
         color: var(--headerLink-text-color-hover);
         background-color: var(--headerLink-bg-color-hover);
      }
      
      &.is-open {
         svg {
            rotate: 180deg;
         }
      }
   }
}

.main-nav__submenu {
   display: none;
   flex-direction: column;
   align-items: stretch;
   gap: .25rem;
   padding: .5rem;
   background-color: var(--headerDropdown-bg-color);
   border-radius: .375rem;
   opacity: 0;
   transform: scale(0);
   transition: transform .15s linear, opacity .15s ease;
   transform-origin: top right;
   position: absolute;
   right: 0;
   top: calc(100% + .5rem);
   z-index: 100;
   
   &.is-open {
      display: flex;
      transform: scale(1);
      opacity: 1;
   }
   
   &-item {
      display: flex;
   }
   
   &-link {
      display: flex;
      flex-basis: 100%;
      padding-block: .5rem;
      padding-inline: .75rem;
      text-decoration: none;
      background-color: var(--headerDropdownLink-bg-color);
      color: var(--headerDropdownLink-text-color);
      
      &:hover,
      &:focus {
         background-color: var(--headerDropdownLink-bg-color-hover);
         border-radius: .25rem;
      }
   }
}