@use '../theming';

@include theming.light-colors() {
  --imageDialog-bg-color: var(--c-void);
  --imageDialogCloseButton-bg-color: var(--c-concrete);
  --imageDialogCloseButton-text-color: var(--c-mist);
  --imageDialogFigcaption-bg-color: var(--c-void);
  --imageDialogFigcaption-text-color: var(--c-mist);
  --imageDialogCloseButton-color-focus: var(--c-royal);
}

@include theming.dark-colors() {
  --imageDialog-bg-color: var(--c-scale-gray-9);
  --imageDialogCloseButton-bg-color: var(--c-scale-gray-7);
  --imageDialogCloseButton-text-color: var(--c-scale-gray-1);
  --imageDialogFigcaption-bg-color: var(--c-scale-gray-7);
  --imageDialogFigcaption-text-color: var(--c-scale-gray-1);
  --imageDialogCloseButton-color-focus: var(--c-fall);
}

.image-dialog {
    inset: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    z-index: 100;
    background-color: var(--imageDialog-bg-color);
    position: fixed;
    
    figure {
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img {
            margin-inline: auto;
            border-radius: .5rem;
            min-height: 0;
            min-width: 0;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
    
    figcaption {
        color: var(--imageDialogFigcaption-text-color);
        background-color: var(--imageDialogFigcaption-bg-color);
        position: absolute;
        bottom: 2rem;
        padding: .5rem 1rem;
        border-radius: .25rem;
        margin-inline: auto;
        max-width: 600px;
        text-align: center;
    }


     button {
        --focus-outline-color: var(--imageDialogCloseButton-color-focus);
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--imageDialogCloseButton-bg-color);
        color: var(--imageDialogCloseButton-text-color);
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        svg {
            width: 2rem;
            height: 2rem;
        }
     }
}