@use '../theming';

@include theming.light-colors() {
    --menu-bg-color: var(--c-mist);
    --menu-border-color: var(--c-fog);
}

@include theming.dark-colors() {
    --menu-bg-color: var(--c-scale-gray-8);
    --menu-border-color: var(--c-scale-gray-6);
}

.menu {
    background-color: var(--menu-bg-color);
    display: none;
    padding-block: 2rem;
    
    &.is-open {
        display: block;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        ::marker {
            color: transparent;
            font-size: 0;
        }
    }

    &__item {
        border-bottom: 0.0625rem solid var(--menu-border-color);
        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        text-decoration: none;
        padding-block: .75rem;

        svg {
            flex-shrink: 0;
            width: 1.5rem;
        }
    }
}