.menu {
    background-color: var(--menu-bg-color);
    display: none;
    padding-block: 2rem;
    
    &.is-open {
        display: block;
    }
    
    &__toggle-theme {
        display: flex;
        gap: .5rem;
        margin: auto;
        margin-top: 1em;
        padding: .375em .75em;
        border-radius: .25rem;
        align-items: center;
        background-color: var(--menuThemeToggle-bg-color);

        svg {
            flex-shrink: 0;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        ::marker {
            color: transparent;
            font-size: 0;
        }
    }

    &__item {
        border-bottom: 0.0625rem solid var(--menu-border-color);
        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        text-decoration: none;
        padding-block: .75rem;

        svg {
            flex-shrink: 0;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}