@use '../theming';

@include theming.light-colors() {
    --postPreviewFooter-text-color: var(--c-stone);
    --postPreviewFooterImage-bg-color: var(--c-white);
}

@include theming.dark-colors() {
    --postPreviewFooter-text-color: var(--c-scale-gray-1);
    --postPreviewFooterImage-bg-color: var(--c-scale-gray-0);
}

.cq--postPreview-preview {
    container-type: inline-size;
    container-name: post-preview;
}

.post-preview {
    &__meta {
        margin-bottom: .75rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
        font-size: .875rem;
        
        &-item {
            font-size: 1rem;
            display: flex;
            gap: .5rem;
            align-items: center;
            font-weight: 500;
            
            &+& {
                &:before {
                    content: "•";
                    display: inline;
                }
            }
        }
    }
    
    &__title {
        max-width: 35rem;
        font-weight: 600;
        font-size: 1.375rem;
        text-wrap: pretty;

        a {
            
            &:hover {
                text-underline-offset: .125em;
            }
        }
    }
    
    &__excerpt {
        max-width: 35rem;
        margin-block: .75rem;
        font-size: 1.125rem;
    }

    &__footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .75rem;
        color: var(--postPreviewFooter-text-color);
        font-size: 1rem;
        margin-top: 1.25rem;
        &-image {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--postPreviewFooterImage-bg-color);
            border: 0.0625rem solid var(--border-primary-color);
        }
    }
}