.posts {
    margin-block-start: 3rem;
    margin-bottom: 6rem;

    body:has(.archive-page__rss) & {
        margin-block-start: 2rem;
    }
    
    body:has(.archive-page__tags) & {
        margin-block-start: 1.5rem;
    }
}

.posts-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-top: 0.0625rem solid var(--border-primary-color);

    &>li::marker {
        color: transparent;
        font-size: 0;
    }

    &__item {
        padding-top: 2.5rem;
        border-top: 0.0625rem dashed var(--border-primary-color);
        &:first-child {
            border-top: 0;
        }
    }
}