@use '../theming';

@include theming.light-colors() {
   --projectImage-bg-color: var(--c-mist);
}

@include theming.dark-colors() {
   --projectImage-bg-color: var(--c-scale-gray-8);
}

.cq--project-preview {
   container-name: project-preview;
   container-type: inline-size;
}

.project-preview {
   display: flex;
   row-gap: 1rem;
   flex-direction: row;
   align-items: flex-start;
   column-gap: 1.25rem;
   
   &__image-wrapper {
      width: 100%;
      aspect-ratio: 4 / 3;
      max-width: 8rem;
      background-color: var(--projectImage-bg-color);
      border-radius: .375rem;
      overflow: hidden;
      flex-shrink: 0;
      
      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
      
      @container project-preview (min-width: 25rem) {
         max-width: 12rem;
      }
   }
   
   &__title {
      font-weight: 600;
      font-size: 1.25rem;
      text-wrap: pretty;
      
      a {
         display: block;
         
         &:hover {
            text-underline-offset: .125em;
         }
      }
   }
   
   &__tagline {
      margin-block: .5rem;
      font-size: 1rem;
   }
}