@use '../theming';

@include theming.light-colors() {
    --rssLink-border-color: var(--c-fog);
    --rssLinkIcon-text-color: var(--c-fire);
}

@include theming.dark-colors() {
    --rssLink-border-color: var(--c-scale-gray-7);
    --rssLinkIcon-text-color: var(--c-fire);
}

.rss-link {
    display: inline-flex;
    align-items: center;
    padding-block: .375rem;
    padding-inline: .375rem 1rem;
    border-radius: .375rem;
    border: .125rem solid var(--rssLink-border-color);
    gap: .75rem;
    text-decoration: none;
    line-height: 1.125;
    font-size: 1rem;

    &:hover {
        box-shadow: 0 0 0 0.125rem var(--rssLink-border-color);
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border: .125rem solid var(--rssLink-border-color);
        border-radius: .25rem;
        svg {
            width: 1.75rem;
            color: var(--rssLinkIcon-text-color);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 600;
    }
}