@use '../theming';

@include theming.light-colors() {
    --tag-bg-color: var(--c-mist);
    --tag-bg-color-hover: var(--c-fog);
    --tag-text-color: var(--c-concrete);
}

@include theming.dark-colors() {
    --tag-bg-color: var(--c-scale-gray-8);
    --tag-bg-color-hover: var(--c-scale-gray-7);
    --tag-text-color: var(--c-scale-gray-1);
}

.tag {
    text-decoration: none;
    font-size: .875rem;
    display: inline-flex;
    align-items: center;
    padding: .375rem .625rem;
    border-radius: .25rem;
    line-height: 1;
    font-weight: 500;
    background-color: var(--tag-bg-color);
    color: var(--tag-text-color);
    gap: .375em;

    &:hover {
        background-color: var(--tag-bg-color-hover);
    }

    &.active {
        &:after {
            content: "•";
            display: inline-flex;
        }
    }
}