.has-tooltip {
    position: relative;
    &:hover, &:focus-visible {
        .tooltip {
            transition: transform .2s linear, opacity .35s ease;
            transform: scale(1);
            opacity: 1;
        }
    }
}

.tooltip {
    position: absolute;
    display: inline-block;
    border-radius: .25rem;
    background-color: var(--tooltip-bg-color);
    color: var(--tooltip-text-color);
    width: auto;
    white-space: nowrap;
    font-size: .875rem;
    padding: .375rem .625rem;
    font-weight: 500;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;

    &--lb {
        left: 0;
        bottom: calc(100% + .5rem);
        transform-origin: bottom left;    
    }
    
    &--rb {
        right: 0;
        bottom: calc(100% + .5rem);
        transform-origin: bottom right;    
    }

    &--lt {
        left: 0;
        top: calc(100% + .5rem);
        transform-origin: top left;    
    }

    &--rt {
        right: 0;
        top: calc(100% + .5rem);
        transform-origin: top right;    
    }
}