<div class="[ cq--post-preview ]">
    <article class="post-preview">
      <div class="post-preview__meta">
          <a href="{{ tagSlug }}" class="tag">Tips</a>
        <span class="post-preview__meta-item">8 minute read</span>
        <span class="post-preview__meta-item">Sep 12, 2024</span>
      </div>
      <h2 class="post-preview__title">
        <a href="{{ fullSlug }}">Tip of the week #010: Embrace simplicity</a>
      </h2>
      <p class="post-preview__excerpt">
        Building for the web has never been easier, but it's also never been easier to over engineer the simplest of things. 
      </p>
        <div class="post-preview__footer">
          <img
            src="{{ publishedExternally.image }}"
            class="post-preview__footer-image"
            alt="" />
          <p>Published at
            <a href="#" target="_blank">css-tricks.com</a>
          </p>
        </div>
    </article>
  </div>