---
interface Props {
  title: string,
  slug: string,
  image?: string,
  tagline?: string,
  tagTitle: string,
  tagHref: string
}

const { title, slug, image, tagHref, tagTitle, tagline} = Astro.props;
---

<div class="[ cq--project-preview ]">
    <article class="project-preview">
      <div class="project-preview__image-wrapper">
          <img
            src={image + "?w=400"}
            alt=""
            class="project-preview__image" />
      </div>
      <div class="project-preview__content">
        <h2 class="project-preview__title">
          <a href={slug}>
            { title }
          </a>
        </h2>
        {tagline && (
          <p class="project-preview__tagline">
            { tagline }
          </p>
        )}  
        <a href={tagHref} class="tag">{tagTitle}</a>
      </div>
    </article>
  </div>