<div class="[ cq--project-preview ]">
    <article class="project-preview">
      <div class="project-preview__image-wrapper">
          <img
            src="{{ featuredImage }}?w=400"
            alt=""
            class="project-preview__image" />
      </div>
      <div class="project-preview__content">
        <h2 class="project-preview__title">
          <a href="{{ fullSlug }}">
            Squishy button
          </a>
        </h2>
        <p class="project-preview__tagline">
          You know you want to click it
        </p>
        <a href="{{ tagSlug }}" class="tag">CodePen</a>
      </div>
    </article>
  </div>