html {
    scroll-behavior: smooth;
    background-color: var(--html-bg-color);
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    color: var(--text-primary-color); 
    min-height: 100dvh;
}  

:where(h1,h2,h3,h4,h5,h6, a) {
    color: var(--text-secondary-color);
}

:focus-visible {
    outline-color: var(--focus-outline-color);
    outline-offset: .125rem;
    outline-width: .125rem;
    outline-style: solid;
}

