:root {
    --c-white: #FFF;
    --c-milk: #f7f8f8;
    --c-damp: #FCFCFC;
    --c-mist: #EEE;
    --c-ivory: #E6E6E6;
    --c-fog: #DDD;
    --c-cement: #b4bcd0;
    --c-stone: #787A85;
    --c-concrete: #565862;
    --c-grit: #353738;
    --c-void: #292a2d;
    --c-royal: #2554e4;
    --c-cobalt: #1b3b9a;
    --c-malibu: #828fff;
    --c-violet: #5e6ad2;
    --c-fall: #FFD966;
    --c-fall-dark: #c19e2f;
    --c-fire: #FF7F3E;
    --c-abyss: #000313;

    --c-scale-white: #e0e7f1;
    --c-scale-gray-0: #cdd9e5;
    --c-scale-gray-1: #adbac7;
    --c-scale-gray-2: #909dab;
    --c-scale-gray-3: #768390;
    --c-scale-gray-4: #636e7b;
    --c-scale-gray-5: #545d68;
    --c-scale-gray-6: #444c56;
    --c-scale-gray-7: #373e47;
    --c-scale-gray-8: #2d333b;
    --c-scale-gray-9: #22272e;
    --c-scale-gray-10: #1c1f27;
}

:root {
    --ff-primary: "Geist", sans-serif;
    --ff-secondary: "Peachi", serif;
    --ff-code: "Geist Mono", monospace;
}