@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Gabarito:wght@400;500;600;700&family=Noto+Color+Emoji&family=Onest:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --ff-primary: "Gabarito", "Onest", "Satoshi", "Schibsted Grotesk", "Mona Sans", "Inter", sans-serif;
}