@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  padding-inline-start: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
:root {
  --ff-primary: "Mona Sans", "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-weight: 450;
  color: #565862;
}

.l-constraint {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: 50rem;
}

.header {
  --header-nav-gap: .25rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2rem;
  border-bottom: 0.0625rem solid #DDD;
  width: 100%;
}
.header__logo {
  font-weight: 600;
  text-decoration: none;
  flex-shrink: 0;
}
.header__actions {
  display: flex;
  gap: var(--header-nav-gap);
  container-name: header-actions;
  container-type: inline-size;
  justify-content: flex-end;
  flex-grow: 1;
}
.header__theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  flex-shrink: 0;
}
.header__theme-toggle:hover {
  background-color: #EEE;
}

@container header-actions (max-width: 40rem) {
  .main-nav {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--header-nav-gap);
}
.main-nav__link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.125rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.25rem;
}
.main-nav__link.has-icon {
  padding-inline-end: 0.5rem;
}
.main-nav__link.has-icon svg {
  height: 1.25em;
  width: 1.25em;
}
.main-nav__link:hover {
  background-color: #EEE;
}

.footer {
  margin-top: 4rem;
}
.footer__inner {
  position: relative;
  border-top: 0.0625rem solid #DDD;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 40rem) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__marquee {
  color: #787A85;
  text-underline-offset: 0.125em;
}
.footer__menu {
  color: #787A85;
  margin-left: auto;
  padding-right: 3rem;
}
@media (max-width: 40rem) {
  .footer__menu {
    margin-left: initial;
  }
}
.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu-link {
  text-underline-offset: 0.125em;
}
.footer__back-to-top {
  text-decoration: none;
  line-height: 1;
  position: absolute;
  top: -1.25rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
}
.footer__back-to-top:hover {
  background-color: #ddd;
}

.some-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.75rem;
  border-right: 0.0625rem solid #DDD;
}
@media (max-width: 40rem) {
  .some-list {
    border-right: 0;
  }
}
.some-list__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}
.some-list__link:hover {
  background-color: #EEE;
}

.tag {
  text-decoration: none;
  font-size: 0.875rem;
  display: inline-block;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  line-height: 1;
  font-weight: 500;
  color: #787A85;
  background-color: #EEE;
}
.tag:hover {
  background-color: #DDD;
}

.accordion + .accordion {
  margin-top: -1px;
}
.accordion__toggle {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
  border-block: 0.0625rem solid #DDD;
  cursor: pointer;
}
.accordion__toggle svg {
  width: 1.5em;
  height: 1.5em;
}
.accordion[open] .accordion__toggle svg {
  rotate: 180deg;
}
.accordion__content {
  padding-block: 1.5rem;
  grid-row: 1/span 2;
}

.cq--callout {
  container-type: inline-size;
  container-name: callout;
}

.callout {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #787A85;
  padding: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #DDD;
}
@container callout (max-width: 25rem) {
  .callout {
    padding: 0.75rem 0.5rem;
    gap: 0.75rem;
    font-size: 0.875rem;
    align-items: flex-start;
  }
}
.callout__image {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.0625rem solid #DDD;
}
.callout__text {
  max-width: 60ch;
}

.hero {
  padding-block-start: 6rem;
  padding-block-end: 10rem;
}
.hero > * {
  max-width: 35rem;
}
.hero__title {
  font-size: 2.25rem;
  line-height: 1.125;
  font-weight: 650;
  color: #292A2D;
}
.hero__intro {
  margin-block-start: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.375;
}
.hero__intro > * + * {
  margin-top: 1em;
}

.cq--project-preview {
  container-name: project-preview;
  container-type: inline-size;
}

.project-preview {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@container project-preview (min-width: 25rem) {
  .project-preview {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25rem;
  }
}
@container project-preview (min-width: 37.5rem ) {
  .project-preview {
    align-items: center;
    column-gap: 1.5rem;
  }
}
.project-preview__image-wrapper {
  aspect-ratio: 16/9;
  background-color: #eee;
  border-radius: 0.375rem;
  width: 100%;
}
@container project-preview (min-width: 25rem ) {
  .project-preview__image-wrapper {
    aspect-ratio: 4/3;
    max-width: 12.5rem;
  }
}
@container project-preview (min-width: 37.5rem ) {
  .project-preview__image-wrapper {
    aspect-ratio: 16/9;
    max-width: 18.75rem;
  }
}
.project-preview__title {
  font-weight: 600;
  font-size: 1.25rem;
}
.project-preview__title a {
  display: block;
}
.project-preview__title a:hover {
  text-underline-offset: 0.125em;
}
.project-preview__tagline {
  margin-block: 0.75rem;
  font-size: 1rem;
}

.cq--post-preview {
  container-type: inline-size;
  container-name: post-preview;
}

.post-preview__meta {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.post-preview__meta-item {
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  color: #565862;
}
.post-preview__meta-item + .post-preview__meta-item:before {
  content: "•";
  display: inline;
}
.post-preview__title {
  max-width: 35rem;
  font-weight: 600;
  font-size: 1.375rem;
}
.post-preview__title a {
  display: block;
}
.post-preview__title a:hover {
  text-underline-offset: 0.125em;
}
.post-preview__excerpt {
  max-width: 35rem;
  margin-block: 0.75rem;
  font-size: 1.125rem;
}
.post-preview__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  color: #787A85;
  font-size: 1rem;
  margin-top: 1.25rem;
}
.post-preview__footer-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.0625rem solid #DDD;
}

.more-button {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, transparent, transparent calc(50% - 0.5px), #DDD calc(50% - 0.5px), #DDD calc(50% + 0.5px), transparent calc(50% + 0.5px), transparent 100%);
}
.more-button a {
  background-color: #eee;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5em 0.75em 0.5em 1em;
  line-height: 1;
  gap: 0.25rem;
  font-size: 1rem;
}
.more-button a svg {
  width: 1.25em;
  height: 1.25em;
}
.more-button a:hover {
  background-color: #DDD;
}

.u-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
