---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ siteSettings.metaTitle }}</title>
    <subtitle>{{ siteSettings.metaDescription }}</subtitle>
    <link href="https://www.havardbrynjulfsen.design/feed.xml" rel="self"/>
    <link href="https://www.havardbrynjulfsen.design"/>
    <updated>{{ collections.articlesCollection | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>https://www.havardbrynjulfsen.design/</id>
    <author>
        <name>Håvard Brynjulfsen</name>
        <email>havardob@hotmail.com</email>
    </author>
    {%- for post in collections.articlesCollection | sort(false, false, 'data.article.dateForSorting') | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl("https://havardbrynjulfsen.design") }}{% endset %}
        {%- set emailReplyHTML -%}
        <p>
            <a href="mailto:havardob@hotmail.com?subject=Re: “{{ post.data.article.title }}”">Reply via email</a>
        </p>{%- endset -%}
        {%- if post.data.article.body -%}
        {%- set finalHTMLContent = [post.data.article.body, emailReplyHTML] | join -%}
        {%- endif -%}
        <entry>
            <title>{{ post.data.article.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.data.article.rssDate | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">
                {{ finalHTMLContent | htmlToAbsoluteUrls(absolutePostUrl) }}
            </content>
        </entry>
    {%- endfor %}
</feed>