{% include "parts/head" %}
<main>
  <div class="l-contstraint">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% include "components/someList" %}
  </div>
</main>
{% include "parts/foot" %}